function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto ae19bf9efe244f6793f880d0eba72911
push constant 1
pop argument 0
goto 9160d0741df640fd98d4a0a7e0928f90
label ae19bf9efe244f6793f880d0eba72911
label 9160d0741df640fd98d4a0a7e0928f90
push argument 0
call Array.new 1
pop this 2
push constant 0
pop this 0
push argument 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 0
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 0
lt
not
if-goto c17747c0fcd04d38b44f6e0892ae09de
push argument 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 9d105cc1e73241d1a3c05a2331975b7b
label c17747c0fcd04d38b44f6e0892ae09de
label 9d105cc1e73241d1a3c05a2331975b7b
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 0
push this 1
lt
not
if-goto fc0857a63c5a4b39a8944736935ac2a6
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
goto 45372e192499490088e4ae40d7798219
label fc0857a63c5a4b39a8944736935ac2a6
label 45372e192499490088e4ae40d7798219
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push constant 0
return
function String.intValue 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
not
if-goto 53fca60dad2f44febb7183e435718d79
push constant 1
neg
pop local 0
push constant 1
pop local 1
goto 9e1fd689962e4e23acd45d7ebfde6fb0
label 53fca60dad2f44febb7183e435718d79
label 9e1fd689962e4e23acd45d7ebfde6fb0
label dc6b01f3fff044ddbe2edaaa4b9f8842
push local 1
push this 0
lt
push local 4
not
and
not
if-goto 8ce5acf892fb4d14af6a2ca3c0c9a580
push pointer 0
push local 1
call String.charAt 2
pop local 3
push local 3
push constant 47
gt
push local 3
push constant 58
lt
and
not
if-goto 6ba5e89178b541f18ea511525da55496
push local 2
push constant 10
call Math.multiply 2
push local 3
push constant 48
sub
add
pop local 2
goto b6a8e79cd459409aaf1b72b8a9bac6c7
label 6ba5e89178b541f18ea511525da55496
push constant 1
neg
pop local 4
label b6a8e79cd459409aaf1b72b8a9bac6c7
push local 1
push constant 1
add
pop local 1
goto dc6b01f3fff044ddbe2edaaa4b9f8842
label 8ce5acf892fb4d14af6a2ca3c0c9a580
push local 2
push local 0
call Math.multiply 2
return
function String.setInt 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push argument 1
push constant 0
lt
not
if-goto 42fed2b7ca2c4d43a561d39956391ed3
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
goto 2ad7191bd9a147a4bfca28fe4514b45d
label 42fed2b7ca2c4d43a561d39956391ed3
label 2ad7191bd9a147a4bfca28fe4514b45d
push pointer 0
push argument 1
call Math.abs 1
call String.setIntRecursive 2
pop temp 0
push constant 0
return
function String.setIntRecursive 2
push argument 0
pop pointer 0
push argument 1
push argument 1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 0
push constant 48
add
pop local 1
push argument 1
push constant 10
lt
not
if-goto 4c57f2a2a5b44e3b82ff7839e20347aa
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
goto f08685f71976416dbce928e8e15ff6c1
label 4c57f2a2a5b44e3b82ff7839e20347aa
push pointer 0
push argument 1
push constant 10
call Math.divide 2
call String.setIntRecursive 2
pop temp 0
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
label f08685f71976416dbce928e8e15ff6c1
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
