function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label 4b637b18dd044606b482e0459710a82c
push local 0
push constant 16
lt
not
if-goto 55307ece36764a3395041a4d079aff60
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 4b637b18dd044606b482e0459710a82c
label 55307ece36764a3395041a4d079aff60
push constant 16
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 63
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 127
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 255
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 511
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 1023
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 2047
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 4095
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 8191
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 16383
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 2
add
push constant 32767
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 32767
push constant 1
add
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 16384
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 8192
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 4096
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 2048
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 1024
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 512
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 256
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 128
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 32
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 16
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 8
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 4
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16384
pop static 6
push constant 1
neg
pop static 4
push constant 0
pop static 5
push static 4
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 2
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
label 85552ae7c92543cc86df63f8e89efcfa
push local 1
push local 0
lt
not
if-goto ee97e7bd90334c7db8d418e6ab8404b1
push local 1
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto 85552ae7c92543cc86df63f8e89efcfa
label ee97e7bd90334c7db8d418e6ab8404b1
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 3
push constant 0
return
function Screen.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Screen.getWordAddress 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Screen.drawPixel 3
push argument 0
push argument 1
call Screen.getWordAddress 2
pop local 2
push local 2
push static 6
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 16
call Screen.mod 2
pop local 1
push static 3
push static 4
eq
not
if-goto 9de164e377844cf1b39a2e2ac550a860
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
or
pop local 0
goto c3726d37f43d40dd89a6c67b3511022f
label 9de164e377844cf1b39a2e2ac550a860
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
and
pop local 0
label c3726d37f43d40dd89a6c67b3511022f
push local 2
push static 6
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto 7ad7fa50045b413dae6c584c319ae0eb
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto 091681eaf9f64ef8985619e5a5efa175
label 7ad7fa50045b413dae6c584c319ae0eb
push argument 1
push argument 3
eq
not
if-goto eef00ca780ea41839ad36176c2958dfc
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 68fe606d54ea4f1fafda53f2ba821daa
label eef00ca780ea41839ad36176c2958dfc
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto fe606a54b9cd4b5db6d05e3b86e1328d
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto 02606f203cdc4874a9805951bd6e2a05
label fe606a54b9cd4b5db6d05e3b86e1328d
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto 9a1dfb55dbf845a69be3ae39e41ea3ee
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto 8dc37a92d837414b89f55b8f76b083e9
label 9a1dfb55dbf845a69be3ae39e41ea3ee
label 8dc37a92d837414b89f55b8f76b083e9
label 02606f203cdc4874a9805951bd6e2a05
label 68fe606d54ea4f1fafda53f2ba821daa
label 091681eaf9f64ef8985619e5a5efa175
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto efdee93c3ebf4b8a96c6cc508f053478
push argument 0
push argument 2
gt
return
goto 5933414e5bcc4ee1ae295de43d5f428b
label efdee93c3ebf4b8a96c6cc508f053478
push argument 2
push argument 0
gt
return
label 5933414e5bcc4ee1ae295de43d5f428b
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto 4171508c389749e9aba76cf5ffbb357d
push argument 2
push argument 0
gt
return
goto 7d336afa65e64248bf05ba50b8fe30c9
label 4171508c389749e9aba76cf5ffbb357d
push argument 0
push argument 2
gt
return
label 7d336afa65e64248bf05ba50b8fe30c9
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto aa5b5270ed224e889c5bc6d1aaf760b1
push argument 1
pop local 6
push argument 0
pop local 5
goto f7b3523266264d76a26dab9aff5e0dcf
label aa5b5270ed224e889c5bc6d1aaf760b1
push argument 3
pop local 6
push argument 2
pop local 5
label f7b3523266264d76a26dab9aff5e0dcf
label bcbf86cede5f4bd1b842ca927410b850
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 2ad4474daca74b6798e1174136c752ef
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 416d654d9097440e84cdf94dc01d8d42
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 92e641496ab842558c46ead6b1d4bdc0
label 416d654d9097440e84cdf94dc01d8d42
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 92e641496ab842558c46ead6b1d4bdc0
goto bcbf86cede5f4bd1b842ca927410b850
label 2ad4474daca74b6798e1174136c752ef
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 910cf3675334414c884f7f426c1cf5ba
push argument 1
pop local 6
push argument 0
pop local 5
goto 524ac356ddb046f58c4b9816bed7750c
label 910cf3675334414c884f7f426c1cf5ba
push argument 3
pop local 6
push argument 2
pop local 5
label 524ac356ddb046f58c4b9816bed7750c
label 73669404686145149a3f77c726c4a404
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 0b4b87a4642f4f37a7047cd4071204b2
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 43180986d61d4a17924131a4f9de87a1
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 622072dccf8a42e6a3858f6556112afc
label 43180986d61d4a17924131a4f9de87a1
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 622072dccf8a42e6a3858f6556112afc
goto 73669404686145149a3f77c726c4a404
label 0b4b87a4642f4f37a7047cd4071204b2
push constant 0
return
function Screen.drawHorizontalLine 5
push argument 0
push argument 1
call Math.max 2
pop local 3
push argument 0
push argument 1
call Math.min 2
pop local 4
push local 4
pop argument 0
push local 3
pop argument 1
push argument 0
push argument 2
call Screen.getWordAddress 2
pop local 0
push argument 1
push argument 2
call Screen.getWordAddress 2
pop local 1
push local 0
push local 1
eq
not
if-goto b0b1d824126846a8ade7695d8a2538fc
push static 3
push static 4
eq
not
if-goto 9a7402cf50af4e9c86eca9185e04ba2f
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
push constant 16
call Screen.mod 2
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push constant 16
call Screen.mod 2
push static 2
add
pop pointer 1
push that 0
and
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto ee5429dde79a4a3a9bb1b04232c08b39
label 9a7402cf50af4e9c86eca9185e04ba2f
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
push constant 16
call Screen.mod 2
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push constant 16
call Screen.mod 2
push static 2
add
pop pointer 1
push that 0
and
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label ee5429dde79a4a3a9bb1b04232c08b39
goto 9d64951c4a7947f89a0144e113da1abc
label b0b1d824126846a8ade7695d8a2538fc
push static 3
push static 4
eq
not
if-goto 5a6511779f1d412f851363ea7effcc41
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
push constant 16
call Screen.mod 2
sub
push static 1
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 3ea8b3bb22794b93824b2f3dd955db8b
push local 0
push local 1
lt
not
if-goto 4460dedd6bb341dea8588efbcb243d67
push local 0
push static 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 3ea8b3bb22794b93824b2f3dd955db8b
label 4460dedd6bb341dea8588efbcb243d67
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push constant 16
call Screen.mod 2
push static 2
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 7259a69cc1ba4a3fa0602e867ca8a349
label 5a6511779f1d412f851363ea7effcc41
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
push constant 16
call Screen.mod 2
sub
push static 1
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 749fc9ca72f841d6b22fb8f279a8e295
push local 0
push local 1
lt
not
if-goto a132fa56d3a54f1ea5a0f30bdc25a023
push local 0
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 749fc9ca72f841d6b22fb8f279a8e295
label a132fa56d3a54f1ea5a0f30bdc25a023
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push constant 16
call Screen.mod 2
push static 2
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 7259a69cc1ba4a3fa0602e867ca8a349
label 9d64951c4a7947f89a0144e113da1abc
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label e3e1f3c9101c46f8b2721b8e82ef6e5f
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto a8f4f94b25fe4202b7efdad16859b5c7
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto e3e1f3c9101c46f8b2721b8e82ef6e5f
label a8f4f94b25fe4202b7efdad16859b5c7
push constant 0
return
function Screen.drawRectangle 4
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
label 0a40ef5ade7e40579f1a93cc73e026e0
push local 1
push constant 0
gt
not
if-goto 14da4c58d8ec4ba98f07268997be0c10
push local 2
push local 2
push local 0
add
push local 3
call Screen.drawHorizontalLine 3
pop temp 0
push local 3
push constant 1
add
pop local 3
push local 1
push constant 1
sub
pop local 1
goto 0a40ef5ade7e40579f1a93cc73e026e0
label 14da4c58d8ec4ba98f07268997be0c10
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto 3481858be6694a7685f3a629581d73fc
label 3ad529d023dd4dc3a27c7b502e7fe887
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto 60bf3369ff6842e5ab2e39d7f08c9387
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 3ad529d023dd4dc3a27c7b502e7fe887
label 60bf3369ff6842e5ab2e39d7f08c9387
goto dd2d14018741487c9407f029077fd7d7
label 3481858be6694a7685f3a629581d73fc
label dd2d14018741487c9407f029077fd7d7
push constant 0
return
