function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label 22a66d0c67324b6cae21ac2ffc016be4
push constant 1
neg
not
if-goto 4794a080736d43418d03fc8c79ba1682
goto 22a66d0c67324b6cae21ac2ffc016be4
label 4794a080736d43418d03fc8c79ba1682
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
label 9a19dfc6ada24d40adb98bcbddad2d3e
push local 0
push argument 0
lt
not
if-goto ecdf7780491d4b3d83eb51ba8beebc26
push constant 0
pop local 1
label e0fc6a95e72c426390efcc597c0a4e0f
push local 1
push constant 200
lt
not
if-goto 66975b0582504292b68bd6949fcaeff4
push local 1
push constant 1
add
pop local 1
goto e0fc6a95e72c426390efcc597c0a4e0f
label 66975b0582504292b68bd6949fcaeff4
push local 0
push constant 1
add
pop local 0
goto 9a19dfc6ada24d40adb98bcbddad2d3e
label ecdf7780491d4b3d83eb51ba8beebc26
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
