function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label 5f22634c6ec147b68a5ca9521a12c6b2
push constant 1
neg
not
if-goto fda9553da2444baea009d5acbf64cc20
goto 5f22634c6ec147b68a5ca9521a12c6b2
label fda9553da2444baea009d5acbf64cc20
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
label d4eebd88ffb043528d6ef25dd9d665d9
push local 0
push argument 0
lt
not
if-goto b3306b7c964142e0896b26f48cc0b62a
push constant 0
pop local 1
label 20bb2557658d4f2088add16ae930a25a
push local 1
push constant 200
lt
not
if-goto aba550b50e6749c3812150006ec6b93f
push local 1
push constant 1
add
pop local 1
goto 20bb2557658d4f2088add16ae930a25a
label aba550b50e6749c3812150006ec6b93f
push local 0
push constant 1
add
pop local 0
goto d4eebd88ffb043528d6ef25dd9d665d9
label b3306b7c964142e0896b26f48cc0b62a
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
