function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto 94bcf84a3f7047279d3c48851d54bb88
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto abc964f8db704592807778e0a36dc159
label 94bcf84a3f7047279d3c48851d54bb88
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label abc964f8db704592807778e0a36dc159
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto 34cd4608ada745d1a02774297a0fc9c0
push this 4
push this 5
add
pop this 4
goto f5c44d8e8f7949c8aca3d29908ac7e63
label 34cd4608ada745d1a02774297a0fc9c0
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto 50bbae528dea48088c5d073689b12e60
push this 7
not
if-goto 12ae5b8684a448f58e4b6a59f1613134
push this 0
push constant 4
add
pop this 0
goto ab1a71ee0fb04f68b9260e4ffdcb59c5
label 12ae5b8684a448f58e4b6a59f1613134
push this 1
push constant 4
add
pop this 1
label ab1a71ee0fb04f68b9260e4ffdcb59c5
goto 7eb9c25ea6904462b0c87b86370c0680
label 50bbae528dea48088c5d073689b12e60
push this 7
not
if-goto 73fbee6516434b29a5a904de0a849045
push this 0
push constant 4
sub
pop this 0
goto 429eac759d8e4702aced4ad2c63cbfc2
label 73fbee6516434b29a5a904de0a849045
push this 1
push constant 4
sub
pop this 1
label 429eac759d8e4702aced4ad2c63cbfc2
label 7eb9c25ea6904462b0c87b86370c0680
label f5c44d8e8f7949c8aca3d29908ac7e63
push this 8
not
if-goto 8bf213cb6f3746df9dce8f068a509389
push this 7
not
if-goto 36941c78d75a414e8343d4655070f3b9
push this 1
push constant 4
add
pop this 1
goto 7d34f5c124504cd9a77bb5a0387ccba8
label 36941c78d75a414e8343d4655070f3b9
push this 0
push constant 4
add
pop this 0
label 7d34f5c124504cd9a77bb5a0387ccba8
goto 94105073f24648dabac396771158ea09
label 8bf213cb6f3746df9dce8f068a509389
push this 7
not
if-goto 1ace423ca5994e0490208462bcb9986c
push this 1
push constant 4
sub
pop this 1
goto 6311f71d4a704614bcfe52e7d2802266
label 1ace423ca5994e0490208462bcb9986c
push this 0
push constant 4
sub
pop this 0
label 6311f71d4a704614bcfe52e7d2802266
label 94105073f24648dabac396771158ea09
push this 0
push this 10
gt
not
not
if-goto c2629af2a4984f3089db6d45f3ff7235
push constant 1
pop this 14
push this 10
pop this 0
goto b0bea6656bbe4794a3215f3cc83dff4d
label c2629af2a4984f3089db6d45f3ff7235
label b0bea6656bbe4794a3215f3cc83dff4d
push this 0
push this 11
lt
not
not
if-goto 99831f59403c46d49c8c8cb822718b9c
push constant 2
pop this 14
push this 11
pop this 0
goto e306afe080124bb19975c48f3ac48d0e
label 99831f59403c46d49c8c8cb822718b9c
label e306afe080124bb19975c48f3ac48d0e
push this 1
push this 12
gt
not
not
if-goto e1899e7c026448febfe78f27ef0d7fad
push constant 3
pop this 14
push this 12
pop this 1
goto ae69bd7e1bf042c5b02e1bea99168ba1
label e1899e7c026448febfe78f27ef0d7fad
label ae69bd7e1bf042c5b02e1bea99168ba1
push this 1
push this 13
lt
not
not
if-goto 381ce54341ea4e279bdfedbcc229dc34
push constant 4
pop this 14
push this 13
pop this 1
goto 816ce05e77ed48c6b6e52412e575f214
label 381ce54341ea4e279bdfedbcc229dc34
label 816ce05e77ed48c6b6e52412e575f214
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto 881d52a5af7b41879e2e8ed3afad20cd
push constant 10
pop local 4
goto 885e912b2ba74eb5a846387bb2ecd535
label 881d52a5af7b41879e2e8ed3afad20cd
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto bf77256bbf1c44b892fd653b4fe4ceaf
push constant 20
pop local 4
goto 63e7fd74dd754c9ca08ec11b01876a67
label bf77256bbf1c44b892fd653b4fe4ceaf
push constant 5
pop local 4
label 63e7fd74dd754c9ca08ec11b01876a67
label 885e912b2ba74eb5a846387bb2ecd535
push this 14
push constant 1
eq
not
if-goto 70d11856ce2b4072b904d752b28130e6
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto 16ee06e6904e4c47a92c1f8e4ababc9c
label 70d11856ce2b4072b904d752b28130e6
push this 14
push constant 2
eq
not
if-goto dc32072d469147f7babd0f1479bf9416
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto 23d3989247fa48fc822eb90064ab4f00
label dc32072d469147f7babd0f1479bf9416
push this 14
push constant 3
eq
not
if-goto e157eb95012443869648de836f9f24d0
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto e9141a6a9f224f389a2087f63ca59166
label e157eb95012443869648de836f9f24d0
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label e9141a6a9f224f389a2087f63ca59166
label 23d3989247fa48fc822eb90064ab4f00
label 16ee06e6904e4c47a92c1f8e4ababc9c
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
