function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto 60ffdd8db46045f28cdd1ecf41e4bfc8
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto 1f3246135b7049a9b3efc6ee053052c6
label 60ffdd8db46045f28cdd1ecf41e4bfc8
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label 1f3246135b7049a9b3efc6ee053052c6
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto 39719b6320ab4f2096688a8bd1e8b388
push this 4
push this 5
add
pop this 4
goto d693a124a26a433fadfbe9f8586b3892
label 39719b6320ab4f2096688a8bd1e8b388
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto b843ef94d697489bb268531b44ce5318
push this 7
not
if-goto 1861ee76b2e6402ab4d3c39a4b2c0bfd
push this 0
push constant 4
add
pop this 0
goto fd41d8e4cdc54bdaa9e027e86a93df07
label 1861ee76b2e6402ab4d3c39a4b2c0bfd
push this 1
push constant 4
add
pop this 1
label fd41d8e4cdc54bdaa9e027e86a93df07
goto 962ce0a40dbc41908d71246a2a6dd4ac
label b843ef94d697489bb268531b44ce5318
push this 7
not
if-goto 3200d72381f0492aa1adb5314c2703be
push this 0
push constant 4
sub
pop this 0
goto 56ad98c419ca4139be79fa614c0b07f4
label 3200d72381f0492aa1adb5314c2703be
push this 1
push constant 4
sub
pop this 1
label 56ad98c419ca4139be79fa614c0b07f4
label 962ce0a40dbc41908d71246a2a6dd4ac
label d693a124a26a433fadfbe9f8586b3892
push this 8
not
if-goto 2c78b95f3b6841a7a14efb9e136c9530
push this 7
not
if-goto 04589077cffd48a5a82d7ff892a0441b
push this 1
push constant 4
add
pop this 1
goto 2a03dc0378284ee582023d849de3581a
label 04589077cffd48a5a82d7ff892a0441b
push this 0
push constant 4
add
pop this 0
label 2a03dc0378284ee582023d849de3581a
goto 0766e72cba6c42229cb25f23e1b84927
label 2c78b95f3b6841a7a14efb9e136c9530
push this 7
not
if-goto d9f5d54599254bd1b7ad16ca0ada9479
push this 1
push constant 4
sub
pop this 1
goto 20221a2e2be04cd7a799371ea78af67c
label d9f5d54599254bd1b7ad16ca0ada9479
push this 0
push constant 4
sub
pop this 0
label 20221a2e2be04cd7a799371ea78af67c
label 0766e72cba6c42229cb25f23e1b84927
push this 0
push this 10
gt
not
not
if-goto 35555282a13c4899a00287176a965f4f
push constant 1
pop this 14
push this 10
pop this 0
goto ad929f7fca4c432b9726c2c344fdf5e5
label 35555282a13c4899a00287176a965f4f
label ad929f7fca4c432b9726c2c344fdf5e5
push this 0
push this 11
lt
not
not
if-goto 771d0e3ac5ec4a809e9102cf7606bc3b
push constant 2
pop this 14
push this 11
pop this 0
goto 5caeadc1ed704c5c886a717d0e6ceca0
label 771d0e3ac5ec4a809e9102cf7606bc3b
label 5caeadc1ed704c5c886a717d0e6ceca0
push this 1
push this 12
gt
not
not
if-goto 67267f1d6e2848f0a521959aa600d1f3
push constant 3
pop this 14
push this 12
pop this 1
goto 02a3699bcbd244e296619a2826fd0cd0
label 67267f1d6e2848f0a521959aa600d1f3
label 02a3699bcbd244e296619a2826fd0cd0
push this 1
push this 13
lt
not
not
if-goto da962c4094ef4dd18609d8fae99d1f6d
push constant 4
pop this 14
push this 13
pop this 1
goto bcab43c2c63c4801bba4c88988deef4f
label da962c4094ef4dd18609d8fae99d1f6d
label bcab43c2c63c4801bba4c88988deef4f
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto b152abe333aa4923adec15acffa5a948
push constant 10
pop local 4
goto d1e9299bf11e43d4a7e6d149dc9603c4
label b152abe333aa4923adec15acffa5a948
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto a6bdecf8a82541a892824b771a437547
push constant 20
pop local 4
goto 91c41ea3d6e2488b8c6b4096dc33a734
label a6bdecf8a82541a892824b771a437547
push constant 5
pop local 4
label 91c41ea3d6e2488b8c6b4096dc33a734
label d1e9299bf11e43d4a7e6d149dc9603c4
push this 14
push constant 1
eq
not
if-goto 382ebed35634488aacefdaa3d8d056da
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto f5e916c5bd524c1d85bea434326370d7
label 382ebed35634488aacefdaa3d8d056da
push this 14
push constant 2
eq
not
if-goto d2e7cee54756400abafbe0d3c3f2e45b
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto e0e804f489c04401826b6083d4ea4116
label d2e7cee54756400abafbe0d3c3f2e45b
push this 14
push constant 3
eq
not
if-goto ee8cc670b3f745f698e867286075727e
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto 98afaa0ae1c14c7f915740d60e68d794
label ee8cc670b3f745f698e867286075727e
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label 98afaa0ae1c14c7f915740d60e68d794
label e0e804f489c04401826b6083d4ea4116
label f5e916c5bd524c1d85bea434326370d7
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
