function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label 33fdf74474784b9891817fd8b607366c
push this 3
not
not
if-goto 36fd8138bb27477080db2809f7e96884
label 849ab5ac32a1496788fc5473639e2791
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto 107ed1630d0941d9a81fb11246d8740d
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto 849ab5ac32a1496788fc5473639e2791
label 107ed1630d0941d9a81fb11246d8740d
push local 0
push constant 130
eq
not
if-goto d25c9cb1d0d5409cac52d6cbfd75cb06
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto e6658d9199974faea0492c10251eb181
label d25c9cb1d0d5409cac52d6cbfd75cb06
push local 0
push constant 132
eq
not
if-goto 435fc6de6e2f43fd9d9c819f8fba6d17
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto 8b4fef26fb4345d89bb5b94be55339b6
label 435fc6de6e2f43fd9d9c819f8fba6d17
push local 0
push constant 140
eq
not
if-goto 745e145a13514ce08124ad7f542bb2e9
push constant 1
neg
pop this 3
goto eb56eec131a44db1acc582e2bf9ee821
label 745e145a13514ce08124ad7f542bb2e9
label eb56eec131a44db1acc582e2bf9ee821
label 8b4fef26fb4345d89bb5b94be55339b6
label e6658d9199974faea0492c10251eb181
label 26572a12de904b2680870da02c1ab7f3
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto 69d1b8dee58f426f84ddbf6e98b13cd6
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto 26572a12de904b2680870da02c1ab7f3
label 69d1b8dee58f426f84ddbf6e98b13cd6
goto 33fdf74474784b9891817fd8b607366c
label 36fd8138bb27477080db2809f7e96884
push this 3
not
if-goto 254a0bf1a6a2428d804947c5fa7f1503
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
goto 5316669cc48444d3985ca77795b0d01d
label 254a0bf1a6a2428d804947c5fa7f1503
label 5316669cc48444d3985ca77795b0d01d
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto b2c1656d63694d92b9aeddcacfa37934
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
not
if-goto 776026f7cdb14b6f99535e8f7067d193
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
not
if-goto a0446c4cafb34e83a33d8a1fc687e2bc
push local 4
push local 1
push constant 10
add
lt
not
if-goto edd6efb4b2ef4155b55ac1bd7c560edf
push constant 1
neg
pop local 0
goto b72981077069403b95640827cd7afcc3
label edd6efb4b2ef4155b55ac1bd7c560edf
push local 3
push local 2
push constant 10
sub
gt
not
if-goto f2679efa5c494b5e96c40ca0877197c2
push constant 1
pop local 0
goto 6e2d6b73209a444eaa376ef5a69029ab
label f2679efa5c494b5e96c40ca0877197c2
label 6e2d6b73209a444eaa376ef5a69029ab
label b72981077069403b95640827cd7afcc3
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
goto 5d4a5dc226b040ff8aa3775b40b26bb7
label a0446c4cafb34e83a33d8a1fc687e2bc
label 5d4a5dc226b040ff8aa3775b40b26bb7
goto d415c9eb24694fbc9ec3d621debd729b
label 776026f7cdb14b6f99535e8f7067d193
label d415c9eb24694fbc9ec3d621debd729b
push this 1
push local 0
call Ball.bounce 2
pop temp 0
goto e29fd75cc154442da87a2c697ccc0218
label b2c1656d63694d92b9aeddcacfa37934
label e29fd75cc154442da87a2c697ccc0218
push constant 0
return
