function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label 26171c79a81d4eb0b970202efac1787f
push this 3
not
not
if-goto 7142f7e6aaef4e1ba4a112374995d8b5
label 7bed5cb0034d45a1b487dec93cd49342
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto e8e6aca1108c4295ada353ee8bde757e
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto 7bed5cb0034d45a1b487dec93cd49342
label e8e6aca1108c4295ada353ee8bde757e
push local 0
push constant 130
eq
not
if-goto ffb678cb1fcd477085981bdd36adec91
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto 48004fac92c74307ad434a13570d5fff
label ffb678cb1fcd477085981bdd36adec91
push local 0
push constant 132
eq
not
if-goto d2695b38094944e6a42c1830a027ff6c
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto 4cda43af287845f8a80192e704509057
label d2695b38094944e6a42c1830a027ff6c
push local 0
push constant 140
eq
not
if-goto 60b5abdfc5da402a986d44abc1ddea7b
push constant 1
neg
pop this 3
goto 42799b3907334e749b6b287e05598447
label 60b5abdfc5da402a986d44abc1ddea7b
label 42799b3907334e749b6b287e05598447
label 4cda43af287845f8a80192e704509057
label 48004fac92c74307ad434a13570d5fff
label a46a6713135641de86577ac464833cca
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto 78f639f80faf4942848369c9c816d0cc
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto a46a6713135641de86577ac464833cca
label 78f639f80faf4942848369c9c816d0cc
goto 26171c79a81d4eb0b970202efac1787f
label 7142f7e6aaef4e1ba4a112374995d8b5
push this 3
not
if-goto 042433a8258341e595c0d023fce8b5ec
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
goto 5acd42f258d943df941c148e3a205dba
label 042433a8258341e595c0d023fce8b5ec
label 5acd42f258d943df941c148e3a205dba
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto 1d5faca5e44449118b10add1884db4dd
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
not
if-goto 36ef53797434409e8422fe85ee1cab97
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
not
if-goto e6f07335b38b4e55af9f0a3aea973ffc
push local 4
push local 1
push constant 10
add
lt
not
if-goto da44362bf17248a8b25b9e9ba95dee72
push constant 1
neg
pop local 0
goto 7db005381e124d63ba7291d7c183bc40
label da44362bf17248a8b25b9e9ba95dee72
push local 3
push local 2
push constant 10
sub
gt
not
if-goto 4fd61f20ed554eca825ef3d261e55efd
push constant 1
pop local 0
goto 769f9e7fb0e245b99f7acf8416512226
label 4fd61f20ed554eca825ef3d261e55efd
label 769f9e7fb0e245b99f7acf8416512226
label 7db005381e124d63ba7291d7c183bc40
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
goto e298de07e071453c9f833af7422964ab
label e6f07335b38b4e55af9f0a3aea973ffc
label e298de07e071453c9f833af7422964ab
goto dbb6928158e544b98be99a064ac4c277
label 36ef53797434409e8422fe85ee1cab97
label dbb6928158e544b98be99a064ac4c277
push this 1
push local 0
call Ball.bounce 2
pop temp 0
goto b27b120eff2a48ac94b006c7a9a5ddfa
label 1d5faca5e44449118b10add1884db4dd
label b27b120eff2a48ac94b006c7a9a5ddfa
push constant 0
return
