function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label cd2647d066cf4f65a553302bd3375d8b
push local 0
push constant 16
lt
not
if-goto 51b90be6aea64ff2ab469dcea6c77542
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto cd2647d066cf4f65a553302bd3375d8b
label 51b90be6aea64ff2ab469dcea6c77542
push constant 16384
pop static 4
push constant 1
neg
pop static 2
push constant 0
pop static 3
push static 2
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 3
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
push static 4
pop local 1
push local 1
push local 0
add
pop local 2
label 546dd1f366b9494898b2d42c841c57e9
push local 1
push local 2
lt
push local 1
push local 2
eq
or
not
if-goto f1d4534abc084865bd56e56ec6658bdf
push local 1
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto 546dd1f366b9494898b2d42c841c57e9
label f1d4534abc084865bd56e56ec6658bdf
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 1
push constant 0
return
function Screen.drawPixel 4
push argument 0
push constant 16
call Math.divide 2
pop local 2
push argument 0
push local 2
push constant 16
call Math.multiply 2
sub
pop local 3
push static 4
push constant 32
push argument 1
call Math.multiply 2
add
push local 2
add
pop local 0
push local 0
call Memory.peek 1
pop local 1
push static 1
push static 2
eq
not
if-goto 8e49a538d233441d8e14d9f3c8f765e4
push local 1
push local 3
push static 0
add
pop pointer 1
push that 0
or
pop local 1
goto a0df9f3ed517485781984538ee021e25
label 8e49a538d233441d8e14d9f3c8f765e4
push local 1
push local 3
push static 0
add
pop pointer 1
push that 0
not
and
pop local 1
label a0df9f3ed517485781984538ee021e25
push local 0
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto 8b1659e6acab492789098f0a37c4b101
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto bd4ea27f5f724144907ae2d0733aab04
label 8b1659e6acab492789098f0a37c4b101
push argument 1
push argument 3
eq
not
if-goto 6519b81b12eb4848820a012afd138ce4
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 824f815fd6e54901a6411586a4ea205e
label 6519b81b12eb4848820a012afd138ce4
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto cefe58e06ebf43c6b4ea925ecbdcd381
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto ea974744046e47c1b972a62f53dde8ca
label cefe58e06ebf43c6b4ea925ecbdcd381
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto 070dad6d281c43b285f076261d8f1e00
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto 332f1858de2a4142a77086581c29e74a
label 070dad6d281c43b285f076261d8f1e00
label 332f1858de2a4142a77086581c29e74a
label ea974744046e47c1b972a62f53dde8ca
label 824f815fd6e54901a6411586a4ea205e
label bd4ea27f5f724144907ae2d0733aab04
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto ac4c37cba1954e73b4e11dd9841efc37
push argument 0
push argument 2
gt
return
goto f730aa3792364316891063f6401810bb
label ac4c37cba1954e73b4e11dd9841efc37
push argument 2
push argument 0
gt
return
label f730aa3792364316891063f6401810bb
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto e474523954004e83b2b8fa0c63bf8098
push argument 2
push argument 0
gt
return
goto 76b4572a53d94fd0b34fba8a3ea50843
label e474523954004e83b2b8fa0c63bf8098
push argument 0
push argument 2
gt
return
label 76b4572a53d94fd0b34fba8a3ea50843
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto f9e3ca507fd848dca6c754fe6852b9b3
push argument 1
pop local 6
push argument 0
pop local 5
goto a4d0510661234b2ea6d77d64a887496d
label f9e3ca507fd848dca6c754fe6852b9b3
push argument 3
pop local 6
push argument 2
pop local 5
label a4d0510661234b2ea6d77d64a887496d
label 5a435a60ffd045d8996b5eba3dd5b842
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 02b498712fba4f64919b792888c8dfc0
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto e3a2e68b06b748e2a2586c2364afe068
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto a3e5c0e9f320490e8d4982cfa4242566
label e3a2e68b06b748e2a2586c2364afe068
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label a3e5c0e9f320490e8d4982cfa4242566
goto 5a435a60ffd045d8996b5eba3dd5b842
label 02b498712fba4f64919b792888c8dfc0
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 4f671874baed4806b0e55dcd5e9ab047
push argument 1
pop local 6
push argument 0
pop local 5
goto c1cfd00500824b77a5ce716ec05ca712
label 4f671874baed4806b0e55dcd5e9ab047
push argument 3
pop local 6
push argument 2
pop local 5
label c1cfd00500824b77a5ce716ec05ca712
label 5a12f39043484122b7a38c119487c1ee
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto c21ef5f9ea54457c8df3883fc82b50f8
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 76a36f3981784e068f634ce4fbc62531
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 66fc9182c29342adb7bc91d6c364544c
label 76a36f3981784e068f634ce4fbc62531
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 66fc9182c29342adb7bc91d6c364544c
goto 5a12f39043484122b7a38c119487c1ee
label c21ef5f9ea54457c8df3883fc82b50f8
push constant 0
return
function Screen.drawHorizontalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label 7ab658e0f5fc4f2f978ec5f2b2455b7d
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 4a0d7b8e7a4743d8a70913f6dc5d16ee
push local 0
push argument 2
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 7ab658e0f5fc4f2f978ec5f2b2455b7d
label 4a0d7b8e7a4743d8a70913f6dc5d16ee
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label 56dbb45795ff4ef786ecc4426b4a963b
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 9a8d23b41f194f8e999799028aabec70
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 56dbb45795ff4ef786ecc4426b4a963b
label 9a8d23b41f194f8e999799028aabec70
push constant 0
return
function Screen.drawRectangle 4
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
label 32ab6ae7b54a4a17be416ad47a7fa6b3
push local 1
push constant 0
gt
not
if-goto afa034b0de29408a9340fa749b47175d
push local 2
push local 2
push local 0
add
push local 3
call Screen.drawHorizontalLine 3
pop temp 0
push local 3
push constant 1
add
pop local 3
push local 1
push constant 1
sub
pop local 1
goto 32ab6ae7b54a4a17be416ad47a7fa6b3
label afa034b0de29408a9340fa749b47175d
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto a8f4fac1c6b84fdd9bfc54954ee7745d
label c9e9767e23474661b8e439f833432f79
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto ba138a48ba5b4c20ae0f049509b2405d
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto c9e9767e23474661b8e439f833432f79
label ba138a48ba5b4c20ae0f049509b2405d
goto 925f3ebb29834c83b48ad44dda6ea8be
label a8f4fac1c6b84fdd9bfc54954ee7745d
label 925f3ebb29834c83b48ad44dda6ea8be
push constant 0
return
