function Math.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label 24a7649d5f9843669a70ebc9adbe2df3
push local 0
push constant 16
lt
not
if-goto cf2457a1749c4b8bbea48a1ab2048f85
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 24a7649d5f9843669a70ebc9adbe2df3
label cf2457a1749c4b8bbea48a1ab2048f85
push constant 0
return
function Math.abs 0
push argument 0
push constant 0
eq
push argument 0
push constant 0
gt
or
not
if-goto e23d0769d14b421a8ee4dd309514f582
push argument 0
return
goto e873eb46e8ae4b2ab75aea54b7dcc22e
label e23d0769d14b421a8ee4dd309514f582
label e873eb46e8ae4b2ab75aea54b7dcc22e
push argument 0
neg
return
function Math.multiply 3
push constant 0
pop local 0
push argument 0
pop local 1
push constant 0
pop local 2
label 822d62d6a3ad406c91b3b8677f387179
push local 2
push constant 16
lt
not
if-goto 828fe1eb8cf748a8bbe7e776148086a4
push argument 1
push local 2
call Math.bitSet 2
not
if-goto b69cfe4034a7403596a67cab0c8804a6
push local 0
push local 1
add
pop local 0
goto 4f1f628cfc0341a7973117b3b63c3943
label b69cfe4034a7403596a67cab0c8804a6
label 4f1f628cfc0341a7973117b3b63c3943
push local 1
push local 1
add
pop local 1
push local 2
push constant 1
add
pop local 2
goto 822d62d6a3ad406c91b3b8677f387179
label 828fe1eb8cf748a8bbe7e776148086a4
push local 0
return
function Math.bitSet 0
push argument 1
push static 0
add
pop pointer 1
push that 0
push argument 0
and
push constant 0
eq
not
return
function Math.divide 6
push argument 0
push constant 0
lt
pop local 4
push argument 1
push constant 0
lt
pop local 5
push local 4
push local 5
or
push local 4
push local 5
and
not
and
pop local 3
push argument 0
call Math.abs 1
pop argument 0
push argument 1
call Math.abs 1
pop argument 1
push constant 0
pop local 0
label b23e0cea804048ec95ae0968322e3f07
push argument 0
push argument 1
gt
push argument 0
push argument 1
eq
or
not
if-goto 16a4aa459de64f4f8e61686b1941fb09
push constant 0
pop local 1
push constant 0
pop local 2
label e9ced5be242c4f03896e8061164e1e38
push local 2
push static 0
add
pop pointer 1
push that 0
push argument 1
call Math.multiply 2
push argument 0
lt
push local 2
push static 0
add
pop pointer 1
push that 0
push argument 1
call Math.multiply 2
push argument 0
eq
or
not
if-goto 2d883d05be9e448085a286bc24a6f6e5
push local 2
push static 0
add
pop pointer 1
push that 0
pop local 1
push local 2
push constant 1
add
pop local 2
goto e9ced5be242c4f03896e8061164e1e38
label 2d883d05be9e448085a286bc24a6f6e5
push argument 0
push local 1
push argument 1
call Math.multiply 2
sub
pop argument 0
push local 0
push local 1
add
pop local 0
goto b23e0cea804048ec95ae0968322e3f07
label 16a4aa459de64f4f8e61686b1941fb09
push local 3
not
if-goto e0a978ac3eb645b98bc9bcf83dcd6bfd
push local 0
neg
pop local 0
goto 00aa59f71d19437bab5d98802d319736
label e0a978ac3eb645b98bc9bcf83dcd6bfd
label 00aa59f71d19437bab5d98802d319736
push local 0
return
function Math.sqrt 5
push argument 0
push constant 0
eq
push argument 0
push constant 1
eq
or
not
if-goto 2ffb08827d8246b3a2b32dc6a30c0554
push argument 0
return
goto e7b4f4a2546246578ac0b752ed7fe545
label 2ffb08827d8246b3a2b32dc6a30c0554
label e7b4f4a2546246578ac0b752ed7fe545
push constant 1
pop local 0
push argument 0
pop local 1
push constant 0
pop local 2
label 58b4560d191744a6b6bf4e693650982a
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 3881476d5dfe4ecea4edd664d625248c
push local 0
push local 1
push local 0
sub
push constant 2
call Math.divide 2
add
pop local 4
push local 4
push constant 181
gt
not
if-goto bf8acec8118d4b8b8c940a6b66ac1dcb
push local 4
push constant 1
sub
pop local 1
goto 5ad3327264154466b7f00e98129633d6
label bf8acec8118d4b8b8c940a6b66ac1dcb
push local 4
push local 4
call Math.multiply 2
pop local 3
push local 3
push argument 0
eq
not
if-goto 35d56e0d16094b17b6f7f28be69afc44
push local 4
return
goto bb187526cd1b4e7f94d2eaf3ba6bd3d4
label 35d56e0d16094b17b6f7f28be69afc44
label bb187526cd1b4e7f94d2eaf3ba6bd3d4
push local 3
push argument 0
lt
not
if-goto cc93d81da7b54141ac9ead6ac03bddbe
push local 4
push constant 1
add
pop local 0
push local 4
pop local 2
goto 68bbdf2cefca4768956bb6247bfac2b2
label cc93d81da7b54141ac9ead6ac03bddbe
push local 4
push constant 1
sub
pop local 1
label 68bbdf2cefca4768956bb6247bfac2b2
label 5ad3327264154466b7f00e98129633d6
goto 58b4560d191744a6b6bf4e693650982a
label 3881476d5dfe4ecea4edd664d625248c
push local 2
return
function Math.max 0
push argument 0
push argument 1
gt
not
if-goto aaa5a13bae8f471cbfc6581e8eb29c04
push argument 0
return
goto cea00b1f91974e9bbbfd7bf424c9485c
label aaa5a13bae8f471cbfc6581e8eb29c04
label cea00b1f91974e9bbbfd7bf424c9485c
push argument 1
return
function Math.min 0
push argument 0
push argument 1
lt
not
if-goto cc6902ccf7954818950deea1e933dade
push argument 0
return
goto 12faa4414bea43cb8b68726572b38e38
label cc6902ccf7954818950deea1e933dade
label 12faa4414bea43cb8b68726572b38e38
push argument 1
return
