function Memory.init 0
push constant 2
pop static 3
push constant 0
pop static 0
push constant 2048
pop static 1
push static 1
pop static 2
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14335
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 2
pop local 0
push argument 0
push static 3
add
pop local 1
label 439c646b45184150a77931523eec3bba
push local 0
push constant 0
eq
not
push local 0
call Memory.getLen 1
push local 1
lt
and
not
if-goto dc14aaf6ecc343fa9a6def8fe59f3b25
push local 0
call Memory.getNextSegment 1
pop local 0
goto 439c646b45184150a77931523eec3bba
label dc14aaf6ecc343fa9a6def8fe59f3b25
push local 0
push constant 0
eq
not
if-goto 4b5d6ecaf5b7412c90bc12ca2be1e152
push constant 0
return
goto 20adecca4cf54a9fa9e620dc73ad3318
label 4b5d6ecaf5b7412c90bc12ca2be1e152
label 20adecca4cf54a9fa9e620dc73ad3318
push local 0
push local 0
call Memory.getLen 1
push local 1
sub
call Memory.setLen 2
pop temp 0
push local 0
push local 0
call Memory.getLen 1
add
push static 3
add
push local 1
sub
pop local 2
push local 2
push constant 0
call Memory.setNextSegment 2
pop temp 0
push local 2
push argument 0
call Memory.setLen 2
pop temp 0
push local 2
push static 3
add
return
function Memory.getNextSegment 0
push argument 0
push static 1
sub
push static 1
add
pop pointer 1
push that 0
return
function Memory.setNextSegment 0
push argument 0
push static 1
sub
push static 1
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.getLen 0
push argument 0
push constant 1
add
push static 1
sub
push static 1
add
pop pointer 1
push that 0
return
function Memory.setLen 0
push argument 0
push constant 1
add
push static 1
sub
push static 1
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.deAlloc 2
push argument 0
push static 3
sub
pop local 1
push static 2
pop local 0
label 77be4217814046798e44f1c4392101cb
push local 0
call Memory.getNextSegment 1
push constant 0
eq
not
not
if-goto c4c97db1a28c4e0c84f779afbbf8cb5d
push local 0
call Memory.getNextSegment 1
pop local 0
goto 77be4217814046798e44f1c4392101cb
label c4c97db1a28c4e0c84f779afbbf8cb5d
push local 0
push local 1
call Memory.setNextSegment 2
pop temp 0
push constant 0
return
