function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label 90ea3132660c4764b36a711aa252e058
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto b4d16ca6fc384037b2427874b49f3d7e
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 90ea3132660c4764b36a711aa252e058
label b4d16ca6fc384037b2427874b49f3d7e
push local 0
push constant 0
eq
not
if-goto 3a8fa83d7e46422ca5ca751a43b88311
push constant 0
return
goto aa74fdfc506d4bb4ac1c90c0a2358aaf
label 3a8fa83d7e46422ca5ca751a43b88311
label aa74fdfc506d4bb4ac1c90c0a2358aaf
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label b9f54d86319c402c96d6b893f9fbf5bd
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto 3ec0283267cd4dfdb7358afdd123d81c
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto b9f54d86319c402c96d6b893f9fbf5bd
label 3ec0283267cd4dfdb7358afdd123d81c
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
