function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label c927128b17694d26b6bbf2e966b94320
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto 4b5badc1c4de460f993ace4f534fcd59
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto c927128b17694d26b6bbf2e966b94320
label 4b5badc1c4de460f993ace4f534fcd59
push local 0
push constant 0
eq
not
if-goto 474694829c874f64befe969084a37fbc
push constant 0
return
goto 9ff1cebee430404e8ddba39f82ab2ad2
label 474694829c874f64befe969084a37fbc
label 9ff1cebee430404e8ddba39f82ab2ad2
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label ea9a429273a64b5499f5f6d2f04cb2de
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto 0e2eef5910ab405bb4fe504ac1b731ab
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto ea9a429273a64b5499f5f6d2f04cb2de
label 0e2eef5910ab405bb4fe504ac1b731ab
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
