function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label c25f3ea3af2a476bbd5dd6d510cc7d73
push local 0
push constant 16
lt
not
if-goto 4334b61c3ff04820a5d95d423620d34f
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto c25f3ea3af2a476bbd5dd6d510cc7d73
label 4334b61c3ff04820a5d95d423620d34f
push constant 16384
pop static 4
push constant 1
neg
pop static 2
push constant 0
pop static 3
push static 2
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 3
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
push static 4
pop local 1
push local 1
push local 0
add
pop local 2
label 351f19e2b86047c5ba86811dc1d50e0c
push local 1
push local 2
lt
push local 1
push local 2
eq
or
not
if-goto 711e6745f7cf481fafec278e89c6069c
push local 1
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 1
add
pop local 1
goto 351f19e2b86047c5ba86811dc1d50e0c
label 711e6745f7cf481fafec278e89c6069c
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 1
push constant 0
return
function Screen.drawPixel 4
push argument 0
push constant 16
call Math.divide 2
pop local 2
push argument 0
push local 2
push constant 16
call Math.multiply 2
sub
pop local 3
push static 4
push constant 32
push argument 1
call Math.multiply 2
add
push local 2
add
pop local 0
push local 0
call Memory.peek 1
pop local 1
push static 1
push static 2
eq
not
if-goto 8b93dff88f6f410a8eb5191b343c6a22
push local 1
push local 3
push static 0
add
pop pointer 1
push that 0
or
pop local 1
goto 44eda12254794d6a88564280ec73d52c
label 8b93dff88f6f410a8eb5191b343c6a22
push local 1
push local 3
push static 0
add
pop pointer 1
push that 0
not
and
pop local 1
label 44eda12254794d6a88564280ec73d52c
push local 0
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto 3d45466b9f9d4d008924596b3efaa9ff
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto 688a4e157a194d38927ef2df1dd6e7c5
label 3d45466b9f9d4d008924596b3efaa9ff
push argument 1
push argument 3
eq
not
if-goto 1abc401097cd44b98da23136e7dc0a85
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto b7b4a530939c49fcb0e1dc7cb55bd95b
label 1abc401097cd44b98da23136e7dc0a85
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto 3bbc667094c54194870ff49f1da44ec9
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto 88b672a815ed45378826476d713f7ec2
label 3bbc667094c54194870ff49f1da44ec9
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto 33c5562a47ba40acbf5d75b1bfebbca3
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto 99e10416146941be84b6959745027cff
label 33c5562a47ba40acbf5d75b1bfebbca3
label 99e10416146941be84b6959745027cff
label 88b672a815ed45378826476d713f7ec2
label b7b4a530939c49fcb0e1dc7cb55bd95b
label 688a4e157a194d38927ef2df1dd6e7c5
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto e65e94c6057147a8bb29e33489bdb7a8
push argument 0
push argument 2
gt
return
goto 9e89799d46d045b382833c512d39520a
label e65e94c6057147a8bb29e33489bdb7a8
push argument 2
push argument 0
gt
return
label 9e89799d46d045b382833c512d39520a
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto 993b36b7a6ef44e0ad2fc81ebef8aa8a
push argument 2
push argument 0
gt
return
goto 66eb261170d44b798f202dc4cbfd814e
label 993b36b7a6ef44e0ad2fc81ebef8aa8a
push argument 0
push argument 2
gt
return
label 66eb261170d44b798f202dc4cbfd814e
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 0d8983fc84da4a0ab4f7ce1a41f235dd
push argument 1
pop local 6
push argument 0
pop local 5
goto 454aa1f019e14f959ab819afef12e81c
label 0d8983fc84da4a0ab4f7ce1a41f235dd
push argument 3
pop local 6
push argument 2
pop local 5
label 454aa1f019e14f959ab819afef12e81c
label 46e596571f334258be68f2b4f5364a54
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 2e64d0ce15cc4a9786f3af0d86634601
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 0353f020565040fb9a5bbd76d49e5330
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto da16afe9387f416da7cbf2360298dd69
label 0353f020565040fb9a5bbd76d49e5330
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label da16afe9387f416da7cbf2360298dd69
goto 46e596571f334258be68f2b4f5364a54
label 2e64d0ce15cc4a9786f3af0d86634601
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto baecde8752074fc39cb58c537d65ad5e
push argument 1
pop local 6
push argument 0
pop local 5
goto e7f74f604c814b9eb6b55b84b80b3d29
label baecde8752074fc39cb58c537d65ad5e
push argument 3
pop local 6
push argument 2
pop local 5
label e7f74f604c814b9eb6b55b84b80b3d29
label cf12f5f941094776a886f2cac018dfaa
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto ce900d53104c477ea58d8c4245bec28b
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 22c9366a3ea04e038a363a9f046b71b3
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto ecab653508ce43ee99e0b1128fdc9f22
label 22c9366a3ea04e038a363a9f046b71b3
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label ecab653508ce43ee99e0b1128fdc9f22
goto cf12f5f941094776a886f2cac018dfaa
label ce900d53104c477ea58d8c4245bec28b
push constant 0
return
function Screen.drawHorizontalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label c0861e19b1904fc09e86536e222cb1a2
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto e42f0a563c0d424cb5330aef5a440e47
push local 0
push argument 2
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto c0861e19b1904fc09e86536e222cb1a2
label e42f0a563c0d424cb5330aef5a440e47
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label 2be5e9e53e244db38ef8030544a75768
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 26cd86ab41ff4ee589b6633d150fa994
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 2be5e9e53e244db38ef8030544a75768
label 26cd86ab41ff4ee589b6633d150fa994
push constant 0
return
function Screen.drawRectangle 4
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
label 50b986ccc76649bc803cdb5765d49981
push local 1
push constant 0
gt
not
if-goto e66ecdfb53364701967e0f911f68b6dd
push local 2
push local 2
push local 0
add
push local 3
call Screen.drawHorizontalLine 3
pop temp 0
push local 3
push constant 1
add
pop local 3
push local 1
push constant 1
sub
pop local 1
goto 50b986ccc76649bc803cdb5765d49981
label e66ecdfb53364701967e0f911f68b6dd
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto 9c325045fef9450fb79dc7c3d8c27488
label ed4388c89660479ba2837858f7bc9c13
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto 258f725db434458e8af12e8e81e81532
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto ed4388c89660479ba2837858f7bc9c13
label 258f725db434458e8af12e8e81e81532
goto f9981ea5f4694bf2b7c9d6784ce1ba3e
label 9c325045fef9450fb79dc7c3d8c27488
label f9981ea5f4694bf2b7c9d6784ce1ba3e
push constant 0
return
