function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label 1860481ff3cf40098460fc5b358092d3
push local 0
push constant 16
lt
not
if-goto b6f18ce614c34e008f7932dd22fb696e
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 1860481ff3cf40098460fc5b358092d3
label b6f18ce614c34e008f7932dd22fb696e
push constant 16384
pop static 4
push constant 1
neg
pop static 2
push constant 0
pop static 3
push static 2
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 2
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
label 2fa811bb489949a2b5d76114f7ddf18f
push local 1
push local 0
lt
not
if-goto e65d6adf22e2416c8efe2115b08a0ce8
push local 1
push static 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto 2fa811bb489949a2b5d76114f7ddf18f
label e65d6adf22e2416c8efe2115b08a0ce8
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 1
push constant 0
return
function Screen.drawPixel 4
push argument 0
push constant 16
call Math.divide 2
pop local 2
push argument 0
push local 2
push constant 16
call Math.multiply 2
sub
pop local 3
push constant 32
push argument 1
call Math.multiply 2
push local 2
add
pop local 0
push local 0
push static 4
add
pop pointer 1
push that 0
pop local 1
push static 1
push static 2
eq
not
if-goto 072ee14ad6794ea698ca75194986e634
push local 1
push local 3
push static 0
add
pop pointer 1
push that 0
or
pop local 1
goto 734fcdcc26c14b13a594905294196ce8
label 072ee14ad6794ea698ca75194986e634
push local 1
push local 3
push static 0
add
pop pointer 1
push that 0
not
and
pop local 1
label 734fcdcc26c14b13a594905294196ce8
push local 0
push static 4
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto e6e2448f18db490ab8a8d2977775d4ee
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto 3baa0cf5751d47cf98e6b3247a08b31c
label e6e2448f18db490ab8a8d2977775d4ee
push argument 1
push argument 3
eq
not
if-goto fff1d4834164441791c59aafc2321b77
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 7a46bb55e540479a85b83cd37bafc908
label fff1d4834164441791c59aafc2321b77
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto e9b3109956294a7896bd73dafbd58ddb
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto 9032faa7b3df4d949e6c358bd357ee4d
label e9b3109956294a7896bd73dafbd58ddb
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto fbe2f0b2278245a49073b181adc54ce9
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto c81b935903e04d218ab5d215c7688ced
label fbe2f0b2278245a49073b181adc54ce9
label c81b935903e04d218ab5d215c7688ced
label 9032faa7b3df4d949e6c358bd357ee4d
label 7a46bb55e540479a85b83cd37bafc908
label 3baa0cf5751d47cf98e6b3247a08b31c
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto 25ea3774a89d4975977e4d44f9455376
push argument 0
push argument 2
gt
return
goto dfec88bb5d8c4bd5be729f94116f4f56
label 25ea3774a89d4975977e4d44f9455376
push argument 2
push argument 0
gt
return
label dfec88bb5d8c4bd5be729f94116f4f56
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto 2e5a949fa4dd4d33befaffa822d665ae
push argument 2
push argument 0
gt
return
goto f0c1c4c53a1a47d2bbcfe6177657b347
label 2e5a949fa4dd4d33befaffa822d665ae
push argument 0
push argument 2
gt
return
label f0c1c4c53a1a47d2bbcfe6177657b347
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 7d7f9a96c5e94b53abd2d3bea4f77334
push argument 1
pop local 6
push argument 0
pop local 5
goto 4be0cace13b74c719ad134bef2297101
label 7d7f9a96c5e94b53abd2d3bea4f77334
push argument 3
pop local 6
push argument 2
pop local 5
label 4be0cace13b74c719ad134bef2297101
label 2060f11f043242aaba8c03191570b832
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 2453cccf21ee4dc4ad3a26731c5ea52e
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto d8155c11ddaa4809adcc64edd34d74af
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 80c040bae41a46d3a47f00378e9cc41d
label d8155c11ddaa4809adcc64edd34d74af
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 80c040bae41a46d3a47f00378e9cc41d
goto 2060f11f043242aaba8c03191570b832
label 2453cccf21ee4dc4ad3a26731c5ea52e
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 5fdd5e9d57de4430823dedd6b7c18153
push argument 1
pop local 6
push argument 0
pop local 5
goto 5dea1abe780e4829b37f73291a8980b5
label 5fdd5e9d57de4430823dedd6b7c18153
push argument 3
pop local 6
push argument 2
pop local 5
label 5dea1abe780e4829b37f73291a8980b5
label 3bd44397630f46c483c1221343a06c89
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto c854d90c74414acab064acc038cc5371
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto ee90af2f75b1495c919fdbf693f625b7
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 0e08869b93fa463a9bb3faababaf31d2
label ee90af2f75b1495c919fdbf693f625b7
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 0e08869b93fa463a9bb3faababaf31d2
goto 3bd44397630f46c483c1221343a06c89
label c854d90c74414acab064acc038cc5371
push constant 0
return
function Screen.drawHorizontalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label d4ffbd2e0c944fc0bb753fed30add431
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto e01e743d73804165a39b2b296fb075a4
push local 0
push argument 2
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto d4ffbd2e0c944fc0bb753fed30add431
label e01e743d73804165a39b2b296fb075a4
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label fd7790e4bbfc402ea2cc0b7aff968738
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 9f7d5fe687b84fedab40a72410d83d9c
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto fd7790e4bbfc402ea2cc0b7aff968738
label 9f7d5fe687b84fedab40a72410d83d9c
push constant 0
return
function Screen.drawRectangle 4
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
label 3133b3d98a1248b8b81eed25bcc42ee7
push local 1
push constant 0
gt
not
if-goto 286ef53e0c7d4f72a5a319797aa85ca7
push local 2
push local 2
push local 0
add
push local 3
call Screen.drawHorizontalLine 3
pop temp 0
push local 3
push constant 1
add
pop local 3
push local 1
push constant 1
sub
pop local 1
goto 3133b3d98a1248b8b81eed25bcc42ee7
label 286ef53e0c7d4f72a5a319797aa85ca7
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto a63d7c0efbc24a8c8438d9be5b6762bf
label 455dac64e47c42a89d44555801dcfe5b
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto f48b4a83f58a49dca772ab21e4a9ad4f
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 455dac64e47c42a89d44555801dcfe5b
label f48b4a83f58a49dca772ab21e4a9ad4f
goto 90e95b37d193486ebd577d797241db83
label a63d7c0efbc24a8c8438d9be5b6762bf
label 90e95b37d193486ebd577d797241db83
push constant 0
return
