function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label 435a4cc99dd94c22b0118eda7496d1a6
push constant 1
neg
not
if-goto 704d60d6a9604618afbf5019a7905004
goto 435a4cc99dd94c22b0118eda7496d1a6
label 704d60d6a9604618afbf5019a7905004
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
label 2f2b9a1454d8486eb9787fc19e4e5f46
push local 0
push argument 0
lt
not
if-goto 21db141a498b4fb797c778c252fca0c1
push constant 0
pop local 1
label 1c129d7df2b04fd1830bd4b2370f2f74
push local 1
push constant 200
lt
not
if-goto 9d010f7bfe564d318bf41ce8f9c1ec63
push local 1
push constant 1
add
pop local 1
goto 1c129d7df2b04fd1830bd4b2370f2f74
label 9d010f7bfe564d318bf41ce8f9c1ec63
push local 0
push constant 1
add
pop local 0
goto 2f2b9a1454d8486eb9787fc19e4e5f46
label 21db141a498b4fb797c778c252fca0c1
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
