function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label 854bdf15c0bb45d8a80486f3306871ec
push local 0
push constant 16
lt
not
if-goto 5b356084ec264cb283b2365c911a1aeb
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 854bdf15c0bb45d8a80486f3306871ec
label 5b356084ec264cb283b2365c911a1aeb
push constant 16384
pop static 4
push constant 1
neg
pop static 2
push constant 0
pop static 3
push static 2
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 0
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 1
push constant 0
return
function Screen.drawPixel 4
push argument 0
push constant 16
call Math.divide 2
pop local 2
push argument 0
push local 2
push constant 16
call Math.multiply 2
sub
pop local 3
push static 4
push constant 32
push argument 1
call Math.multiply 2
add
push local 2
add
pop local 0
push local 0
call Memory.peek 1
pop local 1
push static 1
push static 2
eq
not
if-goto cfea78e9077e41eeb2641fb404dd7d25
push local 1
push local 3
push static 0
add
pop pointer 1
push that 0
or
pop local 1
goto d0bb3f7ba01843888d0ac9290fd14049
label cfea78e9077e41eeb2641fb404dd7d25
push local 1
push local 3
push static 0
add
pop pointer 1
push that 0
not
and
pop local 1
label d0bb3f7ba01843888d0ac9290fd14049
push local 0
push local 1
call Memory.poke 2
pop temp 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto bff26dc66e2940068e63032d0c0283f8
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto e72fa4bfb84746c0b1cd9d2d5ec4a8e1
label bff26dc66e2940068e63032d0c0283f8
push argument 1
push argument 3
eq
not
if-goto ad45e565a5c94496b13b483c0dd5bd93
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 05c0baf86e424206806971c0c5ff5b11
label ad45e565a5c94496b13b483c0dd5bd93
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto bde76893e031489ca7dbaad9be9c80a1
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto 5f68ae73405749ee90653c5bf2d4dca3
label bde76893e031489ca7dbaad9be9c80a1
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto 4e8751d32a54406a970fc916163238f6
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto 8689b74959054688b4ad250484055b88
label 4e8751d32a54406a970fc916163238f6
label 8689b74959054688b4ad250484055b88
label 5f68ae73405749ee90653c5bf2d4dca3
label 05c0baf86e424206806971c0c5ff5b11
label e72fa4bfb84746c0b1cd9d2d5ec4a8e1
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto 7d3cfff9e5494f2b8591247620724f83
push argument 0
push argument 2
gt
return
goto 9dffb93c04f5443590708988cf45e9c3
label 7d3cfff9e5494f2b8591247620724f83
push argument 2
push argument 0
gt
return
label 9dffb93c04f5443590708988cf45e9c3
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto fd08bfb956964c648ae055c9113d45a2
push argument 2
push argument 0
gt
return
goto 8b734defeb2e4875a3b5d4eb617a18ed
label fd08bfb956964c648ae055c9113d45a2
push argument 0
push argument 2
gt
return
label 8b734defeb2e4875a3b5d4eb617a18ed
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 295b06f3d48645d4a16eeee961fdc4bc
push argument 1
pop local 6
push argument 0
pop local 5
goto 1427780a147c4134a47937845fc51b74
label 295b06f3d48645d4a16eeee961fdc4bc
push argument 3
pop local 6
push argument 2
pop local 5
label 1427780a147c4134a47937845fc51b74
label 5338be87b8e34004b4b12185b186fd34
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 79ebe3cee48a4180b421aef0a056d3ae
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 4af1289470374b3580e333636a50c54f
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 26744aefb17047099ce1a475d5b93298
label 4af1289470374b3580e333636a50c54f
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 26744aefb17047099ce1a475d5b93298
goto 5338be87b8e34004b4b12185b186fd34
label 79ebe3cee48a4180b421aef0a056d3ae
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto ac93ac0323774dfc940923ed4037c383
push argument 1
pop local 6
push argument 0
pop local 5
goto 4fe1ccbbd4ef430eaece45d375012d9d
label ac93ac0323774dfc940923ed4037c383
push argument 3
pop local 6
push argument 2
pop local 5
label 4fe1ccbbd4ef430eaece45d375012d9d
label c5bb03f35a5d4596880a39c6568de731
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 9846d05a6e584469b3d97e3c71e72f4b
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 00cd48174ea4445dad70d1eed1ca84c8
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 831e72eea3eb450e883f9851be1058d6
label 00cd48174ea4445dad70d1eed1ca84c8
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 831e72eea3eb450e883f9851be1058d6
goto c5bb03f35a5d4596880a39c6568de731
label 9846d05a6e584469b3d97e3c71e72f4b
push constant 0
return
function Screen.drawHorizontalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label 39b8fcb241ab4ffe93cb957a7c132485
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 375142cf7f9947af8740de1b6a2312d2
push local 0
push argument 2
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 39b8fcb241ab4ffe93cb957a7c132485
label 375142cf7f9947af8740de1b6a2312d2
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label dc92055c39b94aad8d5fe09d30118c6b
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 8248fc285723490e82315dc7156be0a8
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto dc92055c39b94aad8d5fe09d30118c6b
label 8248fc285723490e82315dc7156be0a8
push constant 0
return
function Screen.drawRectangle 4
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
label 7c0a27e07783418a9500b5a7c4cf74ad
push local 1
push constant 0
gt
not
if-goto edb95a7389814bedbd4403d6e0f105c8
push local 2
push local 2
push local 0
add
push local 3
call Screen.drawHorizontalLine 3
pop temp 0
push local 3
push constant 1
add
pop local 3
push local 1
push constant 1
sub
pop local 1
goto 7c0a27e07783418a9500b5a7c4cf74ad
label edb95a7389814bedbd4403d6e0f105c8
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto 1068f63b09614a588aff95145ac405af
label a647bdfdf36043489aacd471e6e5c28f
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto 5b34744e94f245de960304b280a0f440
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto a647bdfdf36043489aacd471e6e5c28f
label 5b34744e94f245de960304b280a0f440
goto 37fb2cda70e643369a7ad937dc722d83
label 1068f63b09614a588aff95145ac405af
label 37fb2cda70e643369a7ad937dc722d83
push constant 0
return
