function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label 8549aa79cc7d4480b3760ae45c0bd3b9
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto ba12c53621d24e80ae58e062acb24ec6
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 8549aa79cc7d4480b3760ae45c0bd3b9
label ba12c53621d24e80ae58e062acb24ec6
push local 0
push constant 0
eq
not
if-goto ee633f5d9c65436ca0c4b10d695fab22
push constant 0
return
goto dd2c5bb83dd544139ac09c8ad8002235
label ee633f5d9c65436ca0c4b10d695fab22
label dd2c5bb83dd544139ac09c8ad8002235
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label e34e8ff0dbdb46f4a32dc53104ecb51f
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto 82ce19e9f63c458abbc15765d19ee017
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto e34e8ff0dbdb46f4a32dc53104ecb51f
label 82ce19e9f63c458abbc15765d19ee017
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
