function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label 3f6b8dc7183145c7b3f63d1dab2ec07f
push constant 1
neg
not
if-goto 3c92faab000c47c9a795927c8d27e37c
goto 3f6b8dc7183145c7b3f63d1dab2ec07f
label 3c92faab000c47c9a795927c8d27e37c
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
label fcd5909b66234e66a069ed75c8c97b3c
push local 0
push argument 0
lt
not
if-goto e0fac10d9ca646d290406d5425cc968c
push constant 0
pop local 1
label 6b9da1d652b44e598261bf56897a35c7
push local 1
push constant 200
lt
not
if-goto 1bf0cea0855e4828a7ff7caa0ebf80ad
push local 1
push constant 1
add
pop local 1
goto 6b9da1d652b44e598261bf56897a35c7
label 1bf0cea0855e4828a7ff7caa0ebf80ad
push local 0
push constant 1
add
pop local 0
goto fcd5909b66234e66a069ed75c8c97b3c
label e0fac10d9ca646d290406d5425cc968c
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
