function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label e58b11524969436bb6dab69935bacb78
push local 0
push constant 16
lt
not
if-goto fa804eed6ced40ff82b6dc4f2d5b1c39
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto e58b11524969436bb6dab69935bacb78
label fa804eed6ced40ff82b6dc4f2d5b1c39
push constant 16
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 63
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 127
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 255
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 511
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 1023
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 2047
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 4095
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 8191
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 16383
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 2
add
push constant 32767
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 32767
push constant 1
add
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 16384
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 8192
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 4096
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 2048
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 1024
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 512
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 256
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 128
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 32
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 16
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 8
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 4
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16384
pop static 6
push constant 1
neg
pop static 4
push constant 0
pop static 5
push static 4
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 2
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
label c07ad98749ec4966a4199f3c6e5c4aaa
push local 1
push local 0
lt
not
if-goto 6aec677a4bf74cf3911c15eca50f1a70
push local 1
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto c07ad98749ec4966a4199f3c6e5c4aaa
label 6aec677a4bf74cf3911c15eca50f1a70
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 3
push constant 0
return
function Screen.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Screen.getWordAddress 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Screen.drawPixel 3
push argument 0
push argument 1
call Screen.getWordAddress 2
pop local 2
push local 2
push static 6
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 16
call Screen.mod 2
pop local 1
push static 3
push static 4
eq
not
if-goto 85326db1cfad4c2f9b64203d7ea853e9
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
or
pop local 0
goto 6e41c0d107f14c7fa2579de8359c0f8e
label 85326db1cfad4c2f9b64203d7ea853e9
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
and
pop local 0
label 6e41c0d107f14c7fa2579de8359c0f8e
push local 2
push static 6
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto 06dcca1904f04be78e07059baec4f20d
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto 0d43974abf1c42a88bc53da3659d9250
label 06dcca1904f04be78e07059baec4f20d
push argument 1
push argument 3
eq
not
if-goto 210fdf7a914a4f428d9e26f8b2e65045
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 559188609099466fa71fa129b6b9c170
label 210fdf7a914a4f428d9e26f8b2e65045
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto 9010a30ab42347019e2f43d434990565
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto 9b9a39996e54478a9ed6f0c730492158
label 9010a30ab42347019e2f43d434990565
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto 9daf219761ee4214abccb30b28aeb5e5
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto b96eb48b9d6a481993e6860b4a70183c
label 9daf219761ee4214abccb30b28aeb5e5
label b96eb48b9d6a481993e6860b4a70183c
label 9b9a39996e54478a9ed6f0c730492158
label 559188609099466fa71fa129b6b9c170
label 0d43974abf1c42a88bc53da3659d9250
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto aaaf649ca32d4e16acfde5f1e6823e96
push argument 0
push argument 2
gt
return
goto d22d6ef7098d43bab3f21b27d9e4a550
label aaaf649ca32d4e16acfde5f1e6823e96
push argument 2
push argument 0
gt
return
label d22d6ef7098d43bab3f21b27d9e4a550
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto fe61b50dc645435292a0b9c6f8816c7a
push argument 2
push argument 0
gt
return
goto 8f2da91de4ff446282e32f2465a08bde
label fe61b50dc645435292a0b9c6f8816c7a
push argument 0
push argument 2
gt
return
label 8f2da91de4ff446282e32f2465a08bde
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 36f2a169ca724df6be63bc27fd65f701
push argument 1
pop local 6
push argument 0
pop local 5
goto f7e7a6a626af41b2b3ab88b66c694c35
label 36f2a169ca724df6be63bc27fd65f701
push argument 3
pop local 6
push argument 2
pop local 5
label f7e7a6a626af41b2b3ab88b66c694c35
label c668254484db4fcc9c5ce8a419c2f413
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto f5a75003f5e84d8c8745f4c52c0ba969
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto a759f5651e8442bb984d242b79609251
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto a67e93b4af234bf08fbae018140acd24
label a759f5651e8442bb984d242b79609251
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label a67e93b4af234bf08fbae018140acd24
goto c668254484db4fcc9c5ce8a419c2f413
label f5a75003f5e84d8c8745f4c52c0ba969
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 1d6dbdece83b4f3f852f89237fd79ce1
push argument 1
pop local 6
push argument 0
pop local 5
goto 3364993186814a2dab527a3379252985
label 1d6dbdece83b4f3f852f89237fd79ce1
push argument 3
pop local 6
push argument 2
pop local 5
label 3364993186814a2dab527a3379252985
label d435788c43ab442ea944a9a7aa302ade
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 6f2e302135e74d33b48b6766a192d56d
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 5e384d0ff2c84d97ae7d33ed930e2586
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto f41cede59a0b4ac6aa527dc7530105d8
label 5e384d0ff2c84d97ae7d33ed930e2586
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label f41cede59a0b4ac6aa527dc7530105d8
goto d435788c43ab442ea944a9a7aa302ade
label 6f2e302135e74d33b48b6766a192d56d
push constant 0
return
function Screen.drawHorizontalLine 4
push argument 0
push argument 1
call Math.max 2
pop local 2
push argument 0
push argument 1
call Math.min 2
pop local 3
push local 3
pop argument 0
push local 2
pop argument 1
push argument 0
push argument 2
call Screen.getWordAddress 2
pop local 0
push argument 1
push argument 2
call Screen.getWordAddress 2
pop local 1
push argument 0
push constant 16
call Screen.mod 2
push argument 1
push constant 16
call Screen.mod 2
push local 0
push local 1
push constant 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawHorizontalLineEfficient 1
label 637d43558c1f4494bcc39bec21d2f5c2
push argument 4
push constant 0
gt
not
if-goto a7795ea3f41d49fdbf5c67ff2a887476
push argument 2
push argument 3
eq
not
if-goto a879cb0901b7442b8bd030b1f48f567e
push static 3
push static 4
eq
not
if-goto 1f34a27676e64f6cab92d5589a3ca6cc
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 915575708fc44e4bab0e63cf81cb9eac
label 1f34a27676e64f6cab92d5589a3ca6cc
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 915575708fc44e4bab0e63cf81cb9eac
goto be2aa41a4c7940fdb28d6c2cdb4e870c
label a879cb0901b7442b8bd030b1f48f567e
push argument 2
pop local 0
push static 3
push static 4
eq
not
if-goto 032eeeb0f7e04e7597df5305c726cc99
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 8112faaf8d9b423b827e9cc935c9e9dd
push local 0
push argument 3
lt
not
if-goto 2ca3b496fe584d568c99687ca4f265c8
push local 0
push static 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 8112faaf8d9b423b827e9cc935c9e9dd
label 2ca3b496fe584d568c99687ca4f265c8
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto deeb68eba03246f88452d41bf5167d01
label 032eeeb0f7e04e7597df5305c726cc99
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 3f9df807387148578833f1c1d71959db
push local 0
push argument 3
lt
not
if-goto 8cfedd591865406c8096d55bd5779e9b
push local 0
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 3f9df807387148578833f1c1d71959db
label 8cfedd591865406c8096d55bd5779e9b
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label deeb68eba03246f88452d41bf5167d01
label be2aa41a4c7940fdb28d6c2cdb4e870c
push argument 2
push constant 32
add
pop argument 2
push argument 3
push constant 32
add
pop argument 3
push argument 4
push constant 1
sub
pop argument 4
goto 637d43558c1f4494bcc39bec21d2f5c2
label a7795ea3f41d49fdbf5c67ff2a887476
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label d1a5896d41894f22a5e43242d6172ffd
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto d0c6dc7a61c146f6a1fe7bb43d9eda13
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto d1a5896d41894f22a5e43242d6172ffd
label d0c6dc7a61c146f6a1fe7bb43d9eda13
push constant 0
return
function Screen.drawRectangle 6
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
push constant 1
add
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
push local 2
push local 3
call Screen.getWordAddress 2
pop local 4
push local 2
push local 0
add
push local 3
call Screen.getWordAddress 2
pop local 5
push local 2
push constant 16
call Screen.mod 2
push local 2
push local 0
add
push constant 16
call Screen.mod 2
push local 4
push local 5
push local 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto 8fcd08cb8efa43429e10f2ebf98ce6cd
label 9b0b9f023e864ddbb92ba709899a73c0
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto 64099164f1dc4c5fa428acb06e40255c
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 9b0b9f023e864ddbb92ba709899a73c0
label 64099164f1dc4c5fa428acb06e40255c
goto e990ff86fdd444eb9f6b881c7501a27e
label 8fcd08cb8efa43429e10f2ebf98ce6cd
label e990ff86fdd444eb9f6b881c7501a27e
push constant 0
return
