function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto dbaec9eb4d8a424481d445ab4a8fc1a3
push constant 1
pop argument 0
goto 557cb772c3454031ab3cda3fbf11ad0b
label dbaec9eb4d8a424481d445ab4a8fc1a3
label 557cb772c3454031ab3cda3fbf11ad0b
push argument 0
call Array.new 1
pop this 2
push constant 0
pop this 0
push argument 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 0
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 0
lt
not
if-goto 5145d2e20bf1412686c5e2998cd5168d
push argument 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto b0913e85e3af4043b6680870b3658a08
label 5145d2e20bf1412686c5e2998cd5168d
label b0913e85e3af4043b6680870b3658a08
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 0
push this 1
lt
not
if-goto 8dbc3018843a45b68cbf244008e33818
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
goto 61708995557541d68e1e39e92dadba6c
label 8dbc3018843a45b68cbf244008e33818
label 61708995557541d68e1e39e92dadba6c
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push constant 0
return
function String.intValue 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
not
if-goto 34a48b26bdbc47f680bc84d345e61b38
push constant 1
neg
pop local 0
push constant 1
pop local 1
goto b12751133e0f4c0dae05b5862e813523
label 34a48b26bdbc47f680bc84d345e61b38
label b12751133e0f4c0dae05b5862e813523
label b083bb2a94c740c1973ebf26ee7593ee
push local 1
push this 0
lt
push local 4
not
and
not
if-goto baf77e54cf3d41069d183bbae43f60a5
push pointer 0
push local 1
call String.charAt 2
pop local 3
push local 3
push constant 47
gt
push local 3
push constant 58
lt
and
not
if-goto 28775157e5f44c0e9b0e1efe6d670638
push local 2
push constant 10
call Math.multiply 2
push local 3
push constant 48
sub
add
pop local 2
goto 98b10a9d069c445fa20f3a7c255f6c53
label 28775157e5f44c0e9b0e1efe6d670638
push constant 1
neg
pop local 4
label 98b10a9d069c445fa20f3a7c255f6c53
push local 1
push constant 1
add
pop local 1
goto b083bb2a94c740c1973ebf26ee7593ee
label baf77e54cf3d41069d183bbae43f60a5
push local 2
push local 0
call Math.multiply 2
return
function String.setInt 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push argument 1
push constant 0
lt
not
if-goto 1b2f9dcd285d4602a5c28c3139889388
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
goto 73f89194b67942ce8dd64ed12f471101
label 1b2f9dcd285d4602a5c28c3139889388
label 73f89194b67942ce8dd64ed12f471101
push pointer 0
push argument 1
call Math.abs 1
call String.setIntRecursive 2
pop temp 0
push constant 0
return
function String.setIntRecursive 2
push argument 0
pop pointer 0
push argument 1
push argument 1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 0
push constant 48
add
pop local 1
push argument 1
push constant 10
lt
not
if-goto 9f7c3870f6ba4b6783dba619af4b7b51
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
goto 58a5d0bdaa12407180d51618bb2e7a93
label 9f7c3870f6ba4b6783dba619af4b7b51
push pointer 0
push argument 1
push constant 10
call Math.divide 2
call String.setIntRecursive 2
pop temp 0
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
label 58a5d0bdaa12407180d51618bb2e7a93
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
