function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto 607ea6c9e79946beba0e482f80a6a338
push constant 1
pop argument 0
goto 71bdc5afaf094d0bb2c347e669ad0dc9
label 607ea6c9e79946beba0e482f80a6a338
label 71bdc5afaf094d0bb2c347e669ad0dc9
push argument 0
call Array.new 1
pop this 2
push constant 0
pop this 0
push argument 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 0
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 0
lt
not
if-goto 1b929713bf5146f5a8f7b0f00146ee7e
push argument 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 3a909c4043a94ac4b601da7c86e2ca4e
label 1b929713bf5146f5a8f7b0f00146ee7e
label 3a909c4043a94ac4b601da7c86e2ca4e
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 0
push this 1
lt
not
if-goto a6c1ad91d1b147e4aa78afdc5120ad33
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
goto 83a396bf8f8040bf993e9965a7dc94dc
label a6c1ad91d1b147e4aa78afdc5120ad33
label 83a396bf8f8040bf993e9965a7dc94dc
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push constant 0
return
function String.intValue 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
not
if-goto e85592a94586480097d22e82d112cf85
push constant 1
neg
pop local 0
push constant 1
pop local 1
goto cb15d1ab273041a690f46a3b5cf886b1
label e85592a94586480097d22e82d112cf85
label cb15d1ab273041a690f46a3b5cf886b1
label fd55d33e2fad4d3395fbfcab1178380d
push local 1
push this 0
lt
push local 4
not
and
not
if-goto bdc78157bd53448193db30f73e91bffd
push pointer 0
push local 1
call String.charAt 2
pop local 3
push local 3
push constant 47
gt
push local 3
push constant 58
lt
and
not
if-goto 67d6a36f12364c0591d6f40e8e33a943
push local 2
push constant 10
call Math.multiply 2
push local 3
push constant 48
sub
add
pop local 2
goto 8dd543379a294fd59038101eee6fa204
label 67d6a36f12364c0591d6f40e8e33a943
push constant 1
neg
pop local 4
label 8dd543379a294fd59038101eee6fa204
push local 1
push constant 1
add
pop local 1
goto fd55d33e2fad4d3395fbfcab1178380d
label bdc78157bd53448193db30f73e91bffd
push local 2
push local 0
call Math.multiply 2
return
function String.setInt 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push argument 1
push constant 0
lt
not
if-goto 2f1268a669494a1889fcbd2f020763fd
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
goto bd2d7d87a3e4409f9bf26c29991755c7
label 2f1268a669494a1889fcbd2f020763fd
label bd2d7d87a3e4409f9bf26c29991755c7
push pointer 0
push argument 1
call Math.abs 1
call String.setIntRecursive 2
pop temp 0
push constant 0
return
function String.setIntRecursive 2
push argument 0
pop pointer 0
push argument 1
push argument 1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 0
push constant 48
add
pop local 1
push argument 1
push constant 10
lt
not
if-goto 6ef033e2ca9844828cbe0255701377e7
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
goto 8021b57ed61748419d0900fbc06c4530
label 6ef033e2ca9844828cbe0255701377e7
push pointer 0
push argument 1
push constant 10
call Math.divide 2
call String.setIntRecursive 2
pop temp 0
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
label 8021b57ed61748419d0900fbc06c4530
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
