function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label d5b56662868649f1908d7962a5758b9c
push constant 1
neg
not
if-goto 0971e855ea9c485d8019068398c9e2b9
goto d5b56662868649f1908d7962a5758b9c
label 0971e855ea9c485d8019068398c9e2b9
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
label 5f514252d7a2428d9ddeeb726e66907c
push local 0
push argument 0
lt
not
if-goto 2b09a316460c416bbc0f3d1f4531e7f0
push constant 0
pop local 1
label 30e7a6dcafbb49999b8d80363af297bc
push local 1
push constant 200
lt
not
if-goto a41bfb6d70154590b4e99596285af381
push local 1
push constant 1
add
pop local 1
goto 30e7a6dcafbb49999b8d80363af297bc
label a41bfb6d70154590b4e99596285af381
push local 0
push constant 1
add
pop local 0
goto 5f514252d7a2428d9ddeeb726e66907c
label 2b09a316460c416bbc0f3d1f4531e7f0
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
