function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto ca523ec6ab34498c904b63bb3ec4c805
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto 7fac81efcc2e4f6a8c98c3751c531df9
label ca523ec6ab34498c904b63bb3ec4c805
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label 7fac81efcc2e4f6a8c98c3751c531df9
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto d1fb78b2263e4993b4dbf0b70e868c45
push this 4
push this 5
add
pop this 4
goto bca6b08de5c14cc0be6eb46f492690fd
label d1fb78b2263e4993b4dbf0b70e868c45
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto edd9512fe84c4a4fbfb245b64a15e4a7
push this 7
not
if-goto 1f2a363cc93849339313579f0ead2898
push this 0
push constant 4
add
pop this 0
goto 4b294d7896b042ef8851de8de605df16
label 1f2a363cc93849339313579f0ead2898
push this 1
push constant 4
add
pop this 1
label 4b294d7896b042ef8851de8de605df16
goto b76ec70c085240afa00ef29724640c02
label edd9512fe84c4a4fbfb245b64a15e4a7
push this 7
not
if-goto 2769521ae46244feb230ab1cb365c9b4
push this 0
push constant 4
sub
pop this 0
goto 962ddac569e74f0c89015174dd8ae7ad
label 2769521ae46244feb230ab1cb365c9b4
push this 1
push constant 4
sub
pop this 1
label 962ddac569e74f0c89015174dd8ae7ad
label b76ec70c085240afa00ef29724640c02
label bca6b08de5c14cc0be6eb46f492690fd
push this 8
not
if-goto 7691dae1a7a34c538d7bc7914a98424e
push this 7
not
if-goto 4e4f32ae99ab472f8a3ff167d1a72fc8
push this 1
push constant 4
add
pop this 1
goto c526cb0f19d24d6b82aa8725dbb57eeb
label 4e4f32ae99ab472f8a3ff167d1a72fc8
push this 0
push constant 4
add
pop this 0
label c526cb0f19d24d6b82aa8725dbb57eeb
goto 3d4802ff08614883bf63ebeb32dfd4be
label 7691dae1a7a34c538d7bc7914a98424e
push this 7
not
if-goto 96cb572440634273ab394ce90af8e44f
push this 1
push constant 4
sub
pop this 1
goto fc50c35ba00e4e8eaee2c21932d2ebbc
label 96cb572440634273ab394ce90af8e44f
push this 0
push constant 4
sub
pop this 0
label fc50c35ba00e4e8eaee2c21932d2ebbc
label 3d4802ff08614883bf63ebeb32dfd4be
push this 0
push this 10
gt
not
not
if-goto b593bf4824a54c80bf07af5dfc1954a4
push constant 1
pop this 14
push this 10
pop this 0
goto f1835400a517417291cb0f3cb8709534
label b593bf4824a54c80bf07af5dfc1954a4
label f1835400a517417291cb0f3cb8709534
push this 0
push this 11
lt
not
not
if-goto 36a8e2dbfcc040f7a297abe4a1a6f578
push constant 2
pop this 14
push this 11
pop this 0
goto 0a0c514e4c8b4ac1871ca5a88a5b3548
label 36a8e2dbfcc040f7a297abe4a1a6f578
label 0a0c514e4c8b4ac1871ca5a88a5b3548
push this 1
push this 12
gt
not
not
if-goto 39542295bcdf4a499416ef1ef5a4d5c9
push constant 3
pop this 14
push this 12
pop this 1
goto 87d2051ae9bb45f3b23d3b8e0f0262ad
label 39542295bcdf4a499416ef1ef5a4d5c9
label 87d2051ae9bb45f3b23d3b8e0f0262ad
push this 1
push this 13
lt
not
not
if-goto ec97b8f645174edc850703f2608f524d
push constant 4
pop this 14
push this 13
pop this 1
goto 7399387a36e44c35ad2322728f4f2c43
label ec97b8f645174edc850703f2608f524d
label 7399387a36e44c35ad2322728f4f2c43
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto a1e882a5add64319a02a49f4bbe58402
push constant 10
pop local 4
goto fc1d80fadede4d2faff2139dcd4cb278
label a1e882a5add64319a02a49f4bbe58402
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto 170e1d9df000471883aaa5d413116409
push constant 20
pop local 4
goto aa07eb4182004eb5ac9974ea135a1e09
label 170e1d9df000471883aaa5d413116409
push constant 5
pop local 4
label aa07eb4182004eb5ac9974ea135a1e09
label fc1d80fadede4d2faff2139dcd4cb278
push this 14
push constant 1
eq
not
if-goto c88166ac533b464e836e309205c7adf5
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto 02aed7bee9e042aabba02f67a4d4d351
label c88166ac533b464e836e309205c7adf5
push this 14
push constant 2
eq
not
if-goto a982e5988c9549ef88d43a99917967ac
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto d914653cb436484486558c67648121aa
label a982e5988c9549ef88d43a99917967ac
push this 14
push constant 3
eq
not
if-goto 8869dc2926f8494eac6c56f19912a0f1
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto 487df6b13de741e085778b3e76a8f18e
label 8869dc2926f8494eac6c56f19912a0f1
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label 487df6b13de741e085778b3e76a8f18e
label d914653cb436484486558c67648121aa
label 02aed7bee9e042aabba02f67a4d4d351
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
