function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto 562f1fb8b4a64bf0acf11b06c6ab943d
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto e73b293437be44428f5af9db8e6f0c60
label 562f1fb8b4a64bf0acf11b06c6ab943d
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label e73b293437be44428f5af9db8e6f0c60
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto 24e2b74b6229484da34fdab4e70c33ff
push this 4
push this 5
add
pop this 4
goto 5ab26942c8ce4f90bc82592da8034fdd
label 24e2b74b6229484da34fdab4e70c33ff
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto 737fb76956254adea287b312fb65dda9
push this 7
not
if-goto 34595df0de9043abb91ed61fee346a36
push this 0
push constant 4
add
pop this 0
goto 9b91aa0a00024d41ab76630a4f675c61
label 34595df0de9043abb91ed61fee346a36
push this 1
push constant 4
add
pop this 1
label 9b91aa0a00024d41ab76630a4f675c61
goto 5371804ca32a4c2bad0ca32da1ebc13d
label 737fb76956254adea287b312fb65dda9
push this 7
not
if-goto b3867fafdcfc47edb8f681b740945a99
push this 0
push constant 4
sub
pop this 0
goto 9d825c31e81741eb8302cb82579260e3
label b3867fafdcfc47edb8f681b740945a99
push this 1
push constant 4
sub
pop this 1
label 9d825c31e81741eb8302cb82579260e3
label 5371804ca32a4c2bad0ca32da1ebc13d
label 5ab26942c8ce4f90bc82592da8034fdd
push this 8
not
if-goto 99489c968dec465fa7528a9dbea1f144
push this 7
not
if-goto f8d92b4462104836ba8c42e4eda621a7
push this 1
push constant 4
add
pop this 1
goto f4a2f063632748f39630a6ccf97f6e00
label f8d92b4462104836ba8c42e4eda621a7
push this 0
push constant 4
add
pop this 0
label f4a2f063632748f39630a6ccf97f6e00
goto 42d7a54951dd44818898bbc5a3b2a848
label 99489c968dec465fa7528a9dbea1f144
push this 7
not
if-goto 3e6ac5ee8b554018a1cd708b36cbdae3
push this 1
push constant 4
sub
pop this 1
goto 3561e1bfb52a457a862f6b9b75efbbe5
label 3e6ac5ee8b554018a1cd708b36cbdae3
push this 0
push constant 4
sub
pop this 0
label 3561e1bfb52a457a862f6b9b75efbbe5
label 42d7a54951dd44818898bbc5a3b2a848
push this 0
push this 10
gt
not
not
if-goto 09384a56fee742f2bc064363e4c7d73d
push constant 1
pop this 14
push this 10
pop this 0
goto 5322ef5c05bf4a6ababb19c26fe3fcb6
label 09384a56fee742f2bc064363e4c7d73d
label 5322ef5c05bf4a6ababb19c26fe3fcb6
push this 0
push this 11
lt
not
not
if-goto 30098e38ce7c4a87ae624c03fd4cf9a1
push constant 2
pop this 14
push this 11
pop this 0
goto d9d8843a7c5a4699b1ef175e0ef3862d
label 30098e38ce7c4a87ae624c03fd4cf9a1
label d9d8843a7c5a4699b1ef175e0ef3862d
push this 1
push this 12
gt
not
not
if-goto 13f2f5a2d27f43e097e36a7835cc7722
push constant 3
pop this 14
push this 12
pop this 1
goto 307e492f6e7941d49fa13b358c7f0e0a
label 13f2f5a2d27f43e097e36a7835cc7722
label 307e492f6e7941d49fa13b358c7f0e0a
push this 1
push this 13
lt
not
not
if-goto d0ac5e2dd9e343d6851675ed34120ffd
push constant 4
pop this 14
push this 13
pop this 1
goto 3261e0396e4d4e50b26d88f5b682f3b3
label d0ac5e2dd9e343d6851675ed34120ffd
label 3261e0396e4d4e50b26d88f5b682f3b3
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto 51275797967f4e8388962b82edcd59d4
push constant 10
pop local 4
goto 9f8eb0ce09b14761b2ecf61e9bb1425b
label 51275797967f4e8388962b82edcd59d4
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto df84ca2ad79e45e5945ffc23433bc950
push constant 20
pop local 4
goto 2826f82663a64a219dd7c7c11c878620
label df84ca2ad79e45e5945ffc23433bc950
push constant 5
pop local 4
label 2826f82663a64a219dd7c7c11c878620
label 9f8eb0ce09b14761b2ecf61e9bb1425b
push this 14
push constant 1
eq
not
if-goto 4f6638750e4f4161a7c731fed76739e0
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto 15e07293cb81489e874154912398c8a3
label 4f6638750e4f4161a7c731fed76739e0
push this 14
push constant 2
eq
not
if-goto 8e8f27f252b74fb5ab0ea66c6e5c93b4
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto 5a380d18cf884355a91d6408ed91276b
label 8e8f27f252b74fb5ab0ea66c6e5c93b4
push this 14
push constant 3
eq
not
if-goto 9f130ed33d0a4dbbb6cec46ed3815cd1
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto ebf34cdbde864868a219df8efb8de639
label 9f130ed33d0a4dbbb6cec46ed3815cd1
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label ebf34cdbde864868a219df8efb8de639
label 5a380d18cf884355a91d6408ed91276b
label 15e07293cb81489e874154912398c8a3
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
