function Ball.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 10
push argument 3
push constant 6
sub
pop this 11
push argument 4
pop this 12
push argument 5
push constant 6
sub
pop this 13
push constant 0
pop this 14
push pointer 0
call Ball.show 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.show 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.hide 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push this 0
push this 1
push this 0
push constant 5
add
push this 1
push constant 5
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push constant 5
add
return
function Ball.setDestination 3
push argument 0
pop pointer 0
push argument 1
push this 0
sub
pop this 2
push argument 2
push this 1
sub
pop this 3
push this 2
call Math.abs 1
pop local 0
push this 3
call Math.abs 1
pop local 1
push local 0
push local 1
lt
pop this 7
push this 7
not
if-goto dc24c1ad493b4789af036f3d8ed6622f
push local 0
pop local 2
push local 1
pop local 0
push local 2
pop local 1
push this 1
push argument 2
lt
pop this 8
push this 0
push argument 1
lt
pop this 9
goto f9caa0ae900542228e74ed870cdd0a29
label dc24c1ad493b4789af036f3d8ed6622f
push this 0
push argument 1
lt
pop this 8
push this 1
push argument 2
lt
pop this 9
label f9caa0ae900542228e74ed870cdd0a29
push constant 2
push local 1
call Math.multiply 2
push local 0
sub
pop this 4
push constant 2
push local 1
call Math.multiply 2
pop this 5
push constant 2
push local 1
push local 0
sub
call Math.multiply 2
pop this 6
push constant 0
return
function Ball.move 0
push argument 0
pop pointer 0
push pointer 0
call Ball.hide 1
pop temp 0
push this 4
push constant 0
lt
not
if-goto 16ab30b151464072ad28e2a1be0d8b47
push this 4
push this 5
add
pop this 4
goto 20c3f84d80d1413aa21cc72ea2e189e5
label 16ab30b151464072ad28e2a1be0d8b47
push this 4
push this 6
add
pop this 4
push this 9
not
if-goto 0e301b7f32c0449c8fd4f286accd6490
push this 7
not
if-goto 9053b6db501240db96cc8dcb7e2543d9
push this 0
push constant 4
add
pop this 0
goto e77991b88ac04cf9987527376d24614b
label 9053b6db501240db96cc8dcb7e2543d9
push this 1
push constant 4
add
pop this 1
label e77991b88ac04cf9987527376d24614b
goto 4d11fa3a5f8b498faadd2b2352ac78bf
label 0e301b7f32c0449c8fd4f286accd6490
push this 7
not
if-goto 36c6674b17434aa08977e5f227a6c07b
push this 0
push constant 4
sub
pop this 0
goto fe05a270f85a4871b9e1091c0d489f5e
label 36c6674b17434aa08977e5f227a6c07b
push this 1
push constant 4
sub
pop this 1
label fe05a270f85a4871b9e1091c0d489f5e
label 4d11fa3a5f8b498faadd2b2352ac78bf
label 20c3f84d80d1413aa21cc72ea2e189e5
push this 8
not
if-goto 3542b11cf46e4c59b8c1cee57c3b7e03
push this 7
not
if-goto 9056459941814b31bface421fec4452a
push this 1
push constant 4
add
pop this 1
goto 665f8072359a4dffb6ea021b79c2a624
label 9056459941814b31bface421fec4452a
push this 0
push constant 4
add
pop this 0
label 665f8072359a4dffb6ea021b79c2a624
goto e0f7c8bd26364996973e5c36975763d3
label 3542b11cf46e4c59b8c1cee57c3b7e03
push this 7
not
if-goto 3b3718f2ea72486389feaaf224ebb72a
push this 1
push constant 4
sub
pop this 1
goto df23d21ced1f4f6eb9702883e78bcf2f
label 3b3718f2ea72486389feaaf224ebb72a
push this 0
push constant 4
sub
pop this 0
label df23d21ced1f4f6eb9702883e78bcf2f
label e0f7c8bd26364996973e5c36975763d3
push this 0
push this 10
gt
not
not
if-goto 8a41fb22ea7a46779ee0e4eba36cf6fe
push constant 1
pop this 14
push this 10
pop this 0
goto 7341653ac6fe4674b19973f8d35badd6
label 8a41fb22ea7a46779ee0e4eba36cf6fe
label 7341653ac6fe4674b19973f8d35badd6
push this 0
push this 11
lt
not
not
if-goto a82be62eb1c84d75b294ca5d0c6b1967
push constant 2
pop this 14
push this 11
pop this 0
goto 1fe2f02d7cef47568f74a17225000a31
label a82be62eb1c84d75b294ca5d0c6b1967
label 1fe2f02d7cef47568f74a17225000a31
push this 1
push this 12
gt
not
not
if-goto 1bb1967af0ad42eda35db93e7ae96e58
push constant 3
pop this 14
push this 12
pop this 1
goto 5103b203d2d54ebb866213420508979b
label 1bb1967af0ad42eda35db93e7ae96e58
label 5103b203d2d54ebb866213420508979b
push this 1
push this 13
lt
not
not
if-goto 462444b0541247dc80ac31cf48bf0eab
push constant 4
pop this 14
push this 13
pop this 1
goto 5e0048301dc44af5814d6de4b2332d0c
label 462444b0541247dc80ac31cf48bf0eab
label 5e0048301dc44af5814d6de4b2332d0c
push pointer 0
call Ball.show 1
pop temp 0
push this 14
return
function Ball.bounce 5
push argument 0
pop pointer 0
push this 2
push constant 10
call Math.divide 2
pop local 2
push this 3
push constant 10
call Math.divide 2
pop local 3
push argument 1
push constant 0
eq
not
if-goto f2113890f90a459f9a9c0840c397713b
push constant 10
pop local 4
goto 1a191850a8f44158af3e8a0727ee3d49
label f2113890f90a459f9a9c0840c397713b
push this 2
push constant 0
lt
not
push argument 1
push constant 1
eq
and
push this 2
push constant 0
lt
push argument 1
push constant 1
neg
eq
and
or
not
if-goto 74712acaa7ee40cd9bd1d1c2c0b1c0f8
push constant 20
pop local 4
goto aa678b9137c242178c26b2541437a7c0
label 74712acaa7ee40cd9bd1d1c2c0b1c0f8
push constant 5
pop local 4
label aa678b9137c242178c26b2541437a7c0
label 1a191850a8f44158af3e8a0727ee3d49
push this 14
push constant 1
eq
not
if-goto af0b75af1cbe4d8aaed156ec56fc89b0
push constant 506
pop local 0
push local 3
push constant 50
neg
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto 1c23d92bcc8b4846a9d638c9181a0cf5
label af0b75af1cbe4d8aaed156ec56fc89b0
push this 14
push constant 2
eq
not
if-goto f0c322db7fb14c82a4a3ba5e58144b09
push constant 0
pop local 0
push local 3
push constant 50
call Math.multiply 2
push local 2
call Math.divide 2
pop local 1
push this 1
push local 1
push local 4
call Math.multiply 2
add
pop local 1
goto 3c31b98b3fc44c6798ffbb012a1cb5c3
label f0c322db7fb14c82a4a3ba5e58144b09
push this 14
push constant 3
eq
not
if-goto cc7a4a929f40435fae804ad36157287f
push constant 250
pop local 1
push local 2
push constant 25
neg
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
goto 752eac4ef1d3444bbfad1879eb07be00
label cc7a4a929f40435fae804ad36157287f
push constant 0
pop local 1
push local 2
push constant 25
call Math.multiply 2
push local 3
call Math.divide 2
pop local 0
push this 0
push local 0
push local 4
call Math.multiply 2
add
pop local 0
label 752eac4ef1d3444bbfad1879eb07be00
label 3c31b98b3fc44c6798ffbb012a1cb5c3
label 1c23d92bcc8b4846a9d638c9181a0cf5
push pointer 0
push local 0
push local 1
call Ball.setDestination 3
pop temp 0
push constant 0
return
