function Keyboard.init 0
push constant 24576
pop static 0
push constant 0
return
function Keyboard.keyPressed 0
push static 0
call Memory.peek 1
return
function Keyboard.readChar 2
push constant 0
pop local 1
label f700d25ec2b843b682ad368acc2b7ebf
push local 1
push constant 0
eq
not
if-goto bf1b1a94ecf64d4d80758f802fb6d8fe
call Keyboard.keyPressed 0
pop local 1
goto f700d25ec2b843b682ad368acc2b7ebf
label bf1b1a94ecf64d4d80758f802fb6d8fe
push local 1
pop local 0
label 056ac5642f6d474dac474c9bbe5ebef7
push local 1
push constant 0
eq
not
not
if-goto 63dc2d2bbcc64b55b754287d629f8f41
call Keyboard.keyPressed 0
pop local 1
goto 056ac5642f6d474dac474c9bbe5ebef7
label 63dc2d2bbcc64b55b754287d629f8f41
push local 0
call Output.printChar 1
pop temp 0
push local 0
return
function Keyboard.readLine 2
push constant 64
call String.new 1
pop local 1
push argument 0
call Output.printString 1
pop temp 0
label 435623ead4634efdb88d8e66dd0ff554
push constant 1
neg
not
if-goto d91f6208ab1b4e01af6a562cacdf64b7
call Keyboard.readChar 0
pop local 0
push local 0
call String.newLine 0
eq
not
if-goto d636ab103e2149fd9fd5c871e6584acb
call Output.println 0
pop temp 0
push local 1
return
goto b4000ea37dfa4826bfa3de79629604f3
label d636ab103e2149fd9fd5c871e6584acb
push local 0
call String.backSpace 0
eq
not
if-goto a9fb0f4da4544b4c873ba71074d83816
push local 1
call String.eraseLastChar 1
pop temp 0
call Output.backSpace 0
pop temp 0
goto b42ea84f292d43beaf52b71139c2ee41
label a9fb0f4da4544b4c873ba71074d83816
push local 1
push local 0
call String.appendChar 2
pop local 1
label b42ea84f292d43beaf52b71139c2ee41
label b4000ea37dfa4826bfa3de79629604f3
goto 435623ead4634efdb88d8e66dd0ff554
label d91f6208ab1b4e01af6a562cacdf64b7
push local 1
return
function Keyboard.readInt 0
push constant 0
return
