function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label 7ddb134b3eed46e8bf327be386594711
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto 082380a5e0704e86adecde9b66976861
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 7ddb134b3eed46e8bf327be386594711
label 082380a5e0704e86adecde9b66976861
push local 0
push constant 0
eq
not
if-goto 01d9685b71e446dcbdd438bc092faf3f
push constant 0
return
goto 434e1587f77c47f4bdada9c9ead67154
label 01d9685b71e446dcbdd438bc092faf3f
label 434e1587f77c47f4bdada9c9ead67154
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label e4aeee874c574662ab53a1765cfc61ec
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto 73b11c098e4f47a395e4ad585057fc10
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto e4aeee874c574662ab53a1765cfc61ec
label 73b11c098e4f47a395e4ad585057fc10
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
