function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label e34a27ec39ff4fa1ab8003f59504eca8
push this 3
not
not
if-goto 4a2610b9d1fd47869df0cb70a28ce4a6
label 0148cbf795a64e2f9a24010103b6d80c
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto 2b896cb4c51b405da12beec39a741238
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto 0148cbf795a64e2f9a24010103b6d80c
label 2b896cb4c51b405da12beec39a741238
push local 0
push constant 130
eq
not
if-goto 05b8ded5e97443bb947265be24379cc3
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto 87d768165c5a47be9def9953754bef7e
label 05b8ded5e97443bb947265be24379cc3
push local 0
push constant 132
eq
not
if-goto 172704b514b84b159608ad9449eeb6a2
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto 3103b3365b06454aa63ee98faf4baa60
label 172704b514b84b159608ad9449eeb6a2
push local 0
push constant 140
eq
not
if-goto 6d16ee53aba3460bab7b1853f673c01b
push constant 1
neg
pop this 3
goto 951ef742a53d430585388be58a12ea2d
label 6d16ee53aba3460bab7b1853f673c01b
label 951ef742a53d430585388be58a12ea2d
label 3103b3365b06454aa63ee98faf4baa60
label 87d768165c5a47be9def9953754bef7e
label 83f4527cd3684781b07b6134f2f05215
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto e38d60cc83344d5db0fdb97e2f12433c
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto 83f4527cd3684781b07b6134f2f05215
label e38d60cc83344d5db0fdb97e2f12433c
goto e34a27ec39ff4fa1ab8003f59504eca8
label 4a2610b9d1fd47869df0cb70a28ce4a6
push this 3
not
if-goto b921b51debee40c985389dbf8fe5374a
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
goto e088fe048266425f8f07e294bc360b40
label b921b51debee40c985389dbf8fe5374a
label e088fe048266425f8f07e294bc360b40
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto 143151f21bda446488d4d35a2dbbb26e
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
not
if-goto 24ebe0212bc248debea1aeb7e568292b
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
not
if-goto 4c4ea32d68a34644bcad5c9e6966a397
push local 4
push local 1
push constant 10
add
lt
not
if-goto 08105f71d17f48a6ab2c578f5404ae30
push constant 1
neg
pop local 0
goto 1d529c4db3734ef3a965d5bcb4460acc
label 08105f71d17f48a6ab2c578f5404ae30
push local 3
push local 2
push constant 10
sub
gt
not
if-goto 57db71c17c7341d6a28fc484e2b01161
push constant 1
pop local 0
goto 78344cc6776c44f1b743b829f2ad0a9d
label 57db71c17c7341d6a28fc484e2b01161
label 78344cc6776c44f1b743b829f2ad0a9d
label 1d529c4db3734ef3a965d5bcb4460acc
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
goto 17eb2d4b2ed94e258d6c5c65725be0b4
label 4c4ea32d68a34644bcad5c9e6966a397
label 17eb2d4b2ed94e258d6c5c65725be0b4
goto 40230c11c1d1491f8bdc9a7162a05163
label 24ebe0212bc248debea1aeb7e568292b
label 40230c11c1d1491f8bdc9a7162a05163
push this 1
push local 0
call Ball.bounce 2
pop temp 0
goto 9a6bf1384d5d4725a93eee13c7d113a6
label 143151f21bda446488d4d35a2dbbb26e
label 9a6bf1384d5d4725a93eee13c7d113a6
push constant 0
return
