function PongGame.new 0
push constant 7
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 50
pop this 6
push constant 230
push constant 229
push this 6
push constant 7
call Bat.new 4
pop this 0
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call Ball.new 6
pop this 1
push this 1
push constant 400
push constant 0
call Ball.setDestination 3
pop temp 0
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 22
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 8
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 2
push constant 0
pop this 5
push pointer 0
return
function PongGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Bat.dispose 1
pop temp 0
push this 1
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function PongGame.newInstance 0
call PongGame.new 0
pop static 0
push constant 0
return
function PongGame.getInstance 0
push static 0
return
function PongGame.run 1
push argument 0
pop pointer 0
label 4fa1cb04329348b0819a0b0e407ec44f
push this 3
not
not
if-goto da2e4c6ee0184d32ae3e7c7156b9d8bf
label 6872ea1fd4c44d79838a273fc3fccb68
push local 0
push constant 0
eq
push this 3
not
and
not
if-goto a6078f1466cb4b87b01abded18c660bd
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto 6872ea1fd4c44d79838a273fc3fccb68
label a6078f1466cb4b87b01abded18c660bd
push local 0
push constant 130
eq
not
if-goto 13358e98bf4e4317a41b407a4b61bf5f
push this 0
push constant 1
call Bat.setDirection 2
pop temp 0
goto acb5be9c7114416bb146b41803bb6428
label 13358e98bf4e4317a41b407a4b61bf5f
push local 0
push constant 132
eq
not
if-goto 93ce2d9dcce44bbd96f00c1bf0615b4d
push this 0
push constant 2
call Bat.setDirection 2
pop temp 0
goto 59f4715647774db19054943721cf13bc
label 93ce2d9dcce44bbd96f00c1bf0615b4d
push local 0
push constant 140
eq
not
if-goto 95f2ef4f2bce4f79bb40ea4aa6c5c1bd
push constant 1
neg
pop this 3
goto f478b66a4e714165840f5fb8c9ebc465
label 95f2ef4f2bce4f79bb40ea4aa6c5c1bd
label f478b66a4e714165840f5fb8c9ebc465
label 59f4715647774db19054943721cf13bc
label acb5be9c7114416bb146b41803bb6428
label 378d55bb0f3d46a8b812b2e6aa9d8986
push local 0
push constant 0
eq
not
push this 3
not
and
not
if-goto 1f6cb3a4851f4f31bda2a39d021461fc
call Keyboard.keyPressed 0
pop local 0
push this 0
call Bat.move 1
pop temp 0
push pointer 0
call PongGame.moveBall 1
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
goto 378d55bb0f3d46a8b812b2e6aa9d8986
label 1f6cb3a4851f4f31bda2a39d021461fc
goto 4fa1cb04329348b0819a0b0e407ec44f
label da2e4c6ee0184d32ae3e7c7156b9d8bf
push this 3
not
if-goto 50c5bed2e1be4fb6a0cd1e772fa3e4b9
push constant 10
push constant 27
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
call Output.printString 1
pop temp 0
goto d2083082dc9545ff920916ff099ace8e
label 50c5bed2e1be4fb6a0cd1e772fa3e4b9
label d2083082dc9545ff920916ff099ace8e
push constant 0
return
function PongGame.moveBall 5
push argument 0
pop pointer 0
push this 1
call Ball.move 1
pop this 2
push this 2
push constant 0
gt
push this 2
push this 5
eq
not
and
not
if-goto 5148edd5d3494e7eb69baa2f195a3441
push this 2
pop this 5
push constant 0
pop local 0
push this 0
call Bat.getLeft 1
pop local 1
push this 0
call Bat.getRight 1
pop local 2
push this 1
call Ball.getLeft 1
pop local 3
push this 1
call Ball.getRight 1
pop local 4
push this 2
push constant 4
eq
not
if-goto d66140add0334b85900e7d6d1242147e
push local 1
push local 4
gt
push local 2
push local 3
lt
or
pop this 3
push this 3
not
not
if-goto 93d636f69fac478d9fdb212ba664a219
push local 4
push local 1
push constant 10
add
lt
not
if-goto 71d1f26a24fe407698d1ce7e8aace885
push constant 1
neg
pop local 0
goto e95c32d03ce94f4fb5ca4ae6e643ab7d
label 71d1f26a24fe407698d1ce7e8aace885
push local 3
push local 2
push constant 10
sub
gt
not
if-goto 149a63388c694120a548905220fa14c4
push constant 1
pop local 0
goto 45af67c1167b407fb55cfe603337fab7
label 149a63388c694120a548905220fa14c4
label 45af67c1167b407fb55cfe603337fab7
label e95c32d03ce94f4fb5ca4ae6e643ab7d
push this 6
push constant 2
sub
pop this 6
push this 0
push this 6
call Bat.setWidth 2
pop temp 0
push this 4
push constant 1
add
pop this 4
push constant 22
push constant 7
call Output.moveCursor 2
pop temp 0
push this 4
call Output.printInt 1
pop temp 0
goto 83d173ea24fb4a479ebd008bc6677b67
label 93d636f69fac478d9fdb212ba664a219
label 83d173ea24fb4a479ebd008bc6677b67
goto 0553c044c5d143b59ed16332412c059a
label d66140add0334b85900e7d6d1242147e
label 0553c044c5d143b59ed16332412c059a
push this 1
push local 0
call Ball.bounce 2
pop temp 0
goto 6c4a9ef1ac2b495f8026433e8834776e
label 5148edd5d3494e7eb69baa2f195a3441
label 6c4a9ef1ac2b495f8026433e8834776e
push constant 0
return
