function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto 416b105a71a14a7cbd79861b575b7e1a
push constant 1
pop argument 0
goto b1fad3d0a82b44609375a1c97942fe33
label 416b105a71a14a7cbd79861b575b7e1a
label b1fad3d0a82b44609375a1c97942fe33
push argument 0
call Array.new 1
pop this 2
push constant 0
pop this 0
push argument 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 0
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 0
lt
not
if-goto 53776213790a4c3bbf1a1914f843f0ef
push argument 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto cae59a51f8bf4009a0ba499fbd44cbec
label 53776213790a4c3bbf1a1914f843f0ef
label cae59a51f8bf4009a0ba499fbd44cbec
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 0
push this 1
lt
not
if-goto 1b689c6cc44d429bbd7328c81ce9384c
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
goto 075e55da77eb44ba84312eb1565b6007
label 1b689c6cc44d429bbd7328c81ce9384c
label 075e55da77eb44ba84312eb1565b6007
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push constant 0
return
function String.intValue 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
not
if-goto e46976364cf94e12b9f293b05d255ad8
push constant 1
neg
pop local 0
push constant 1
pop local 1
goto a181255923d04441bdfaf238889d16cd
label e46976364cf94e12b9f293b05d255ad8
label a181255923d04441bdfaf238889d16cd
label f2e118d9d398463ebafff4a4c71deb38
push local 1
push this 0
lt
push local 4
not
and
not
if-goto ce227be5fd854a67b184a494b7a7674b
push pointer 0
push local 1
call String.charAt 2
pop local 3
push local 3
push constant 47
gt
push local 3
push constant 58
lt
and
not
if-goto e3a5fc40400b41a99ff13b92402e9a4a
push local 2
push constant 10
call Math.multiply 2
push local 3
push constant 48
sub
add
pop local 2
goto 190d902627db45b384393e8f415cd822
label e3a5fc40400b41a99ff13b92402e9a4a
push constant 1
neg
pop local 4
label 190d902627db45b384393e8f415cd822
push local 1
push constant 1
add
pop local 1
goto f2e118d9d398463ebafff4a4c71deb38
label ce227be5fd854a67b184a494b7a7674b
push local 2
push local 0
call Math.multiply 2
return
function String.setInt 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push argument 1
push constant 0
lt
not
if-goto 2bf388b6a04e44b1a5d6d7c17a6f5ba1
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
goto 0d9514fc7a044d4a8c8bc8c2c254c2e3
label 2bf388b6a04e44b1a5d6d7c17a6f5ba1
label 0d9514fc7a044d4a8c8bc8c2c254c2e3
push pointer 0
push argument 1
call Math.abs 1
call String.setIntRecursive 2
pop temp 0
push constant 0
return
function String.setIntRecursive 2
push argument 0
pop pointer 0
push argument 1
push argument 1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 0
push constant 48
add
pop local 1
push argument 1
push constant 10
lt
not
if-goto 22dddf914f424a208fb01d3713db6924
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
goto e8b299e7253847d5b057d38342e38071
label 22dddf914f424a208fb01d3713db6924
push pointer 0
push argument 1
push constant 10
call Math.divide 2
call String.setIntRecursive 2
pop temp 0
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
label e8b299e7253847d5b057d38342e38071
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
