function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto d9f65d777b0c4e54897a0b7e21ebe8c4
push constant 1
pop argument 0
goto aaa164008da7440a994a753cc469b391
label d9f65d777b0c4e54897a0b7e21ebe8c4
label aaa164008da7440a994a753cc469b391
push argument 0
call Array.new 1
pop this 2
push constant 0
pop this 0
push argument 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 0
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 0
lt
not
if-goto 218ca64a3e294256af46899edab1c5c8
push argument 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 538be660020b452d81712ec3bf60e601
label 218ca64a3e294256af46899edab1c5c8
label 538be660020b452d81712ec3bf60e601
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 0
push this 1
lt
not
if-goto d52ca395bef6426c95aa17c49dcbca72
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
goto b4f4822125db4a00870506acdb1d921b
label d52ca395bef6426c95aa17c49dcbca72
label b4f4822125db4a00870506acdb1d921b
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push constant 0
return
function String.intValue 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
not
if-goto f405a3b90afc4aa597a9a9185184e59b
push constant 1
neg
pop local 0
push constant 1
pop local 1
goto fe89beec0bd64ef89a808bf8549561b9
label f405a3b90afc4aa597a9a9185184e59b
label fe89beec0bd64ef89a808bf8549561b9
label e42f0b5ba67b470784c446e793582f8e
push local 1
push this 0
lt
push local 4
not
and
not
if-goto 2e76ea0b038b447793c3cfc1c44a2d00
push pointer 0
push local 1
call String.charAt 2
pop local 3
push local 3
push constant 47
gt
push local 3
push constant 58
lt
and
not
if-goto ed82a612906f4680babe6be7e1e666b3
push local 2
push constant 10
call Math.multiply 2
push local 3
push constant 48
sub
add
pop local 2
goto 0438d9bcf5a943d8901ae057c1972983
label ed82a612906f4680babe6be7e1e666b3
push constant 1
neg
pop local 4
label 0438d9bcf5a943d8901ae057c1972983
push local 1
push constant 1
add
pop local 1
goto e42f0b5ba67b470784c446e793582f8e
label 2e76ea0b038b447793c3cfc1c44a2d00
push local 2
push local 0
call Math.multiply 2
return
function String.setInt 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push argument 1
push constant 0
lt
not
if-goto f0a157827f854b99a0be434be195915c
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
goto 7d1c1e868d864ca48037e35058b525f2
label f0a157827f854b99a0be434be195915c
label 7d1c1e868d864ca48037e35058b525f2
push pointer 0
push argument 1
call Math.abs 1
call String.setIntRecursive 2
pop temp 0
push constant 0
return
function String.setIntRecursive 2
push argument 0
pop pointer 0
push argument 1
push argument 1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 0
push constant 48
add
pop local 1
push argument 1
push constant 10
lt
not
if-goto 8b7e4fbd766840c897475a855cc5d472
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
goto 7eaf1f1bf6154c5cae609c2916ad13c7
label 8b7e4fbd766840c897475a855cc5d472
push pointer 0
push argument 1
push constant 10
call Math.divide 2
call String.setIntRecursive 2
pop temp 0
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
label 7eaf1f1bf6154c5cae609c2916ad13c7
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
