function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label b27ffface03a46ca81177462da78d226
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto 7054f2dba8b445be951d51ff8ab2deb5
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto b27ffface03a46ca81177462da78d226
label 7054f2dba8b445be951d51ff8ab2deb5
push local 0
push constant 0
eq
not
if-goto b821d742409d4fee97630f57f9bcb3ea
push constant 0
return
goto fd67eb79dc5140f9bf469aadab2b31bc
label b821d742409d4fee97630f57f9bcb3ea
label fd67eb79dc5140f9bf469aadab2b31bc
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label cc9b925a93144d3bb24bd7dc16e15287
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto d7df39bc98e047c099bf3fba9ff9d523
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto cc9b925a93144d3bb24bd7dc16e15287
label d7df39bc98e047c099bf3fba9ff9d523
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
