function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label 237a9b22508b46248420426acd62cc19
push local 0
push constant 16
lt
not
if-goto e1e1321531e748959f49516b272e5d4d
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 237a9b22508b46248420426acd62cc19
label e1e1321531e748959f49516b272e5d4d
push constant 16
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 63
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 127
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 255
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 511
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 1023
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 2047
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 4095
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 8191
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 16383
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 2
add
push constant 32767
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 32767
push constant 1
add
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 16384
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 8192
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 4096
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 2048
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 1024
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 512
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 256
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 128
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 32
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 16
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 8
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 4
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16384
pop static 6
push constant 1
neg
pop static 4
push constant 0
pop static 5
push static 4
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 2
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
label 872034b0809b47148a568fae30aa7890
push local 1
push local 0
lt
not
if-goto 499ae55fa3f64260bea4dfc9ec5df66f
push local 1
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto 872034b0809b47148a568fae30aa7890
label 499ae55fa3f64260bea4dfc9ec5df66f
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 3
push constant 0
return
function Screen.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Screen.getWordAddress 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Screen.drawPixel 3
push argument 0
push argument 1
call Screen.getWordAddress 2
pop local 2
push local 2
push static 6
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 16
call Screen.mod 2
pop local 1
push static 3
push static 4
eq
not
if-goto 9fe57495a55443ad9ac8f8d26c079f22
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
or
pop local 0
goto 4b51364a82954c9f8eff932eca5c8ebb
label 9fe57495a55443ad9ac8f8d26c079f22
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
and
pop local 0
label 4b51364a82954c9f8eff932eca5c8ebb
push local 2
push static 6
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto 94a6e523c2ec4719bbc60102eec38b6d
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto 235945a119e54b3ab0363c26e8626ca5
label 94a6e523c2ec4719bbc60102eec38b6d
push argument 1
push argument 3
eq
not
if-goto c5a49b0cc59c4853bea67ea43ead37d7
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 2d7813b3066449b3a83693c3a5175316
label c5a49b0cc59c4853bea67ea43ead37d7
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto 1fbfa14e27df4f51a0bd470f35bfd292
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto 082215c1adc94167937b14b555836055
label 1fbfa14e27df4f51a0bd470f35bfd292
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto 6a9507330acd4c08ba0d0b7a266b48bb
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto f816ec3fe09b42a399f59fb6d1490b85
label 6a9507330acd4c08ba0d0b7a266b48bb
label f816ec3fe09b42a399f59fb6d1490b85
label 082215c1adc94167937b14b555836055
label 2d7813b3066449b3a83693c3a5175316
label 235945a119e54b3ab0363c26e8626ca5
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto cf9a25c9e82140b285432d26cf332e2e
push argument 0
push argument 2
gt
return
goto d235b7f94c724b2eab5277e359016826
label cf9a25c9e82140b285432d26cf332e2e
push argument 2
push argument 0
gt
return
label d235b7f94c724b2eab5277e359016826
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto d7c295502eb44a368cb897211b72cdd8
push argument 2
push argument 0
gt
return
goto 882d21acedbb4550a8bee4b52a394885
label d7c295502eb44a368cb897211b72cdd8
push argument 0
push argument 2
gt
return
label 882d21acedbb4550a8bee4b52a394885
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 7c8c3e065be248169ad776607a0233d6
push argument 1
pop local 6
push argument 0
pop local 5
goto 8cc6134ee992488bacb7ce02017c50b1
label 7c8c3e065be248169ad776607a0233d6
push argument 3
pop local 6
push argument 2
pop local 5
label 8cc6134ee992488bacb7ce02017c50b1
label 207a8499c0cd4609b8f4a56d01297a49
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto d106aa1231d74126af9005a49ad8f569
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 2e1b0091f1384444854ad26ca3a07c2c
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 8db008461c764faea10d5537059a1a08
label 2e1b0091f1384444854ad26ca3a07c2c
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 8db008461c764faea10d5537059a1a08
goto 207a8499c0cd4609b8f4a56d01297a49
label d106aa1231d74126af9005a49ad8f569
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 184e1e57b1df4366bde2fd13904d2d02
push argument 1
pop local 6
push argument 0
pop local 5
goto f140946c1069461f9aaace8bcf60ac60
label 184e1e57b1df4366bde2fd13904d2d02
push argument 3
pop local 6
push argument 2
pop local 5
label f140946c1069461f9aaace8bcf60ac60
label 941d62aa8c314b0196faedb833dfb814
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto cf4f6ff990b542fbb62445671ac6bbdd
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto e464105bf7fe462c84058f44d52c1016
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 69a5d48f48b84d3dae7c0b31974c89dc
label e464105bf7fe462c84058f44d52c1016
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 69a5d48f48b84d3dae7c0b31974c89dc
goto 941d62aa8c314b0196faedb833dfb814
label cf4f6ff990b542fbb62445671ac6bbdd
push constant 0
return
function Screen.drawHorizontalLine 4
push argument 0
push argument 1
call Math.max 2
pop local 2
push argument 0
push argument 1
call Math.min 2
pop local 3
push local 3
pop argument 0
push local 2
pop argument 1
push argument 0
push argument 2
call Screen.getWordAddress 2
pop local 0
push argument 1
push argument 2
call Screen.getWordAddress 2
pop local 1
push argument 0
push constant 16
call Screen.mod 2
push argument 1
push constant 16
call Screen.mod 2
push local 0
push local 1
push constant 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawHorizontalLineEfficient 1
label c63a839100b54173b0c3c2a417817fa4
push argument 4
push constant 0
gt
not
if-goto 7cfcb9d73c9e47a69a28c68ff53285e9
push argument 2
push argument 3
eq
not
if-goto ab32c9a6cebd45ef869a6ededb13c3f8
push static 3
push static 4
eq
not
if-goto f8de45462d64466bb800b7a10919c050
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 01dd712349534e34b5233c6cf0698036
label f8de45462d64466bb800b7a10919c050
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 01dd712349534e34b5233c6cf0698036
goto 26362ff926544e8ab622e47f0adec79d
label ab32c9a6cebd45ef869a6ededb13c3f8
push argument 2
pop local 0
push static 3
push static 4
eq
not
if-goto b8cac1425a64483088bfdfdbb5ae346c
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 2a660313db724752ba5301561aaef8f3
push local 0
push argument 3
lt
not
if-goto bcadf7f596f344ae8645c1d3032e111d
push local 0
push static 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 2a660313db724752ba5301561aaef8f3
label bcadf7f596f344ae8645c1d3032e111d
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto ef5495dd8aed4535b1fecc2115aacfa7
label b8cac1425a64483088bfdfdbb5ae346c
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 52d6b9404e0e4306bcc6208f88f2fd55
push local 0
push argument 3
lt
not
if-goto 84850b68391346cdba72c33980072357
push local 0
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 52d6b9404e0e4306bcc6208f88f2fd55
label 84850b68391346cdba72c33980072357
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label ef5495dd8aed4535b1fecc2115aacfa7
label 26362ff926544e8ab622e47f0adec79d
push argument 2
push constant 32
add
pop argument 2
push argument 3
push constant 32
add
pop argument 3
push argument 4
push constant 1
sub
pop argument 4
goto c63a839100b54173b0c3c2a417817fa4
label 7cfcb9d73c9e47a69a28c68ff53285e9
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label 509cba00b2764a14b6c54e5aa9252739
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto b12235429f574ad889c5a0611c4dc16e
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 509cba00b2764a14b6c54e5aa9252739
label b12235429f574ad889c5a0611c4dc16e
push constant 0
return
function Screen.drawRectangle 6
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
push constant 1
add
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
push local 2
push local 3
call Screen.getWordAddress 2
pop local 4
push local 2
push local 0
add
push local 3
call Screen.getWordAddress 2
pop local 5
push local 2
push constant 16
call Screen.mod 2
push local 2
push local 0
add
push constant 16
call Screen.mod 2
push local 4
push local 5
push local 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto b4293fd973c342ae826b9ec872ca9229
label dabeb12aeecf49c8a626229881a44c30
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto db20fb5bb71744ad8ce4ebb1ac10211e
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto dabeb12aeecf49c8a626229881a44c30
label db20fb5bb71744ad8ce4ebb1ac10211e
goto 0967e9923b0c4f8ca29eab8c6c1aaec0
label b4293fd973c342ae826b9ec872ca9229
label 0967e9923b0c4f8ca29eab8c6c1aaec0
push constant 0
return
