function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label d0b6081a5aff4561bbd94fa0511aa226
push local 0
push constant 16
lt
not
if-goto 102f3b6c4e56440387b2d61e08932b23
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto d0b6081a5aff4561bbd94fa0511aa226
label 102f3b6c4e56440387b2d61e08932b23
push constant 16
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 63
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 127
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 255
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 511
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 1023
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 2047
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 4095
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 8191
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 16383
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 2
add
push constant 32767
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 32767
push constant 1
add
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 16384
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 8192
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 4096
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 2048
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 1024
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 512
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 256
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 128
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 32
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 16
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 8
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 4
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16384
pop static 6
push constant 1
neg
pop static 4
push constant 0
pop static 5
push static 4
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 2
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
label ba667eb750ed41be945ede69ed22603e
push local 1
push local 0
lt
not
if-goto fe1158d54b3a4a8399e298a2cf02b292
push local 1
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto ba667eb750ed41be945ede69ed22603e
label fe1158d54b3a4a8399e298a2cf02b292
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 3
push constant 0
return
function Screen.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Screen.getWordAddress 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Screen.drawPixel 3
push argument 0
push argument 1
call Screen.getWordAddress 2
pop local 2
push local 2
push static 6
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 16
call Screen.mod 2
pop local 1
push static 3
push static 4
eq
not
if-goto 590faf92a7484dbc91edbebf0ac76dbc
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
or
pop local 0
goto d8941cd750b440c0acbe48e7f3e309e7
label 590faf92a7484dbc91edbebf0ac76dbc
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
and
pop local 0
label d8941cd750b440c0acbe48e7f3e309e7
push local 2
push static 6
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto e81e2af97e92441b8ace36f1941b44f1
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto cdd820a5febf48ab884afa45c308ec86
label e81e2af97e92441b8ace36f1941b44f1
push argument 1
push argument 3
eq
not
if-goto dd445671907d410997403a982c046bf3
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 7b79612b84274c2299d34ea2e2482a85
label dd445671907d410997403a982c046bf3
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto 37e90d734a2f4807ad36d85c96ff4db1
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto 337432fe230046b49eebec49bf295c4e
label 37e90d734a2f4807ad36d85c96ff4db1
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto bb03ddf3c8f2497d895aa3d350ea8cea
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto 7cf7c875eb0449939575c4dc9f10fa47
label bb03ddf3c8f2497d895aa3d350ea8cea
label 7cf7c875eb0449939575c4dc9f10fa47
label 337432fe230046b49eebec49bf295c4e
label 7b79612b84274c2299d34ea2e2482a85
label cdd820a5febf48ab884afa45c308ec86
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto 97169e0afb354789b4173beeacbd684f
push argument 0
push argument 2
gt
return
goto 471047f9ddd24055a216e3eb4dba1561
label 97169e0afb354789b4173beeacbd684f
push argument 2
push argument 0
gt
return
label 471047f9ddd24055a216e3eb4dba1561
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto 1afe6c61cac34e61bf75b60863d90276
push argument 2
push argument 0
gt
return
goto 6d682b2285d3465ab09d8a22a521ff84
label 1afe6c61cac34e61bf75b60863d90276
push argument 0
push argument 2
gt
return
label 6d682b2285d3465ab09d8a22a521ff84
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 1fe8fb36eb2943c1870ea220e15e6300
push argument 1
pop local 6
push argument 0
pop local 5
goto 814bb2cffeea4872948c444c30855d45
label 1fe8fb36eb2943c1870ea220e15e6300
push argument 3
pop local 6
push argument 2
pop local 5
label 814bb2cffeea4872948c444c30855d45
label 22cc4cf0ad14479681cd8d73d63f47d7
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 871aa165a4a04d9a83228f2e8e8d9aca
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 62fbe9ed8c1e4d378c85db6d18432a13
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 02f218a724504547b832646ea2544914
label 62fbe9ed8c1e4d378c85db6d18432a13
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 02f218a724504547b832646ea2544914
goto 22cc4cf0ad14479681cd8d73d63f47d7
label 871aa165a4a04d9a83228f2e8e8d9aca
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 6af5a59884d146fa9fd431797d7fc5e1
push argument 1
pop local 6
push argument 0
pop local 5
goto d67a7f708f264c34892d8db3fced00e9
label 6af5a59884d146fa9fd431797d7fc5e1
push argument 3
pop local 6
push argument 2
pop local 5
label d67a7f708f264c34892d8db3fced00e9
label 887f6936ff7c41358352ab81758abd14
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 03cf1386a51e4205b8fbde27573cbf34
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto d5f44d5b7bb841d98b6de18b626a78be
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto e086f7039a4742ea9987dda4a7eb5a5e
label d5f44d5b7bb841d98b6de18b626a78be
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label e086f7039a4742ea9987dda4a7eb5a5e
goto 887f6936ff7c41358352ab81758abd14
label 03cf1386a51e4205b8fbde27573cbf34
push constant 0
return
function Screen.drawHorizontalLine 4
push argument 0
push argument 1
call Math.max 2
pop local 2
push argument 0
push argument 1
call Math.min 2
pop local 3
push local 3
pop argument 0
push local 2
pop argument 1
push argument 0
push argument 2
call Screen.getWordAddress 2
pop local 0
push argument 1
push argument 2
call Screen.getWordAddress 2
pop local 1
push argument 0
push constant 16
call Screen.mod 2
push argument 1
push constant 16
call Screen.mod 2
push local 0
push local 1
push constant 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawHorizontalLineEfficient 1
label beb4bce599f9482c8166c381d1cf112f
push argument 4
push constant 0
gt
not
if-goto 8c14d52c4e5e48068b7bdcfb825625e1
push argument 2
push argument 3
eq
not
if-goto b8e35eb98a094662b36cfa982ba69649
push static 3
push static 4
eq
not
if-goto d631430e852d4ae09ccc2e943df8f816
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 37f42306703c43e386841e1bf7a5c741
label d631430e852d4ae09ccc2e943df8f816
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 37f42306703c43e386841e1bf7a5c741
goto 61aea635bbda413aa1c795ff82bce6d3
label b8e35eb98a094662b36cfa982ba69649
push argument 2
pop local 0
push static 3
push static 4
eq
not
if-goto 97783d3a4f1c4ab6b7f7906a794bc3ad
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 0b90e7c9ab3e4503b70a569ef0b7fea2
push local 0
push argument 3
lt
not
if-goto 52ac18e9c5f2425594efe821e0c50284
push local 0
push static 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 0b90e7c9ab3e4503b70a569ef0b7fea2
label 52ac18e9c5f2425594efe821e0c50284
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 5799d4b691f6494980168b7ed15c3874
label 97783d3a4f1c4ab6b7f7906a794bc3ad
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label c6aefb00570d4352894f1c84b1faad72
push local 0
push argument 3
lt
not
if-goto c4d2650e280f473e8dd9d3443260c030
push local 0
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto c6aefb00570d4352894f1c84b1faad72
label c4d2650e280f473e8dd9d3443260c030
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 5799d4b691f6494980168b7ed15c3874
label 61aea635bbda413aa1c795ff82bce6d3
push argument 2
push constant 32
add
pop argument 2
push argument 3
push constant 32
add
pop argument 3
push argument 4
push constant 1
sub
pop argument 4
goto beb4bce599f9482c8166c381d1cf112f
label 8c14d52c4e5e48068b7bdcfb825625e1
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label c2ff8affa939497b9689ac2c501d9956
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto c12262323c564102bf2b0eb453912007
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto c2ff8affa939497b9689ac2c501d9956
label c12262323c564102bf2b0eb453912007
push constant 0
return
function Screen.drawRectangle 6
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
push constant 1
add
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
push local 2
push local 3
call Screen.getWordAddress 2
pop local 4
push local 2
push local 0
add
push local 3
call Screen.getWordAddress 2
pop local 5
push local 2
push constant 16
call Screen.mod 2
push local 2
push local 0
add
push constant 16
call Screen.mod 2
push local 4
push local 5
push local 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto f60718910a864f079411d0d474fb5f5c
label 78ddfff178d14013b7433d8abffe2aa0
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto b9cf70b6290145f29e8cafe89e480dea
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 78ddfff178d14013b7433d8abffe2aa0
label b9cf70b6290145f29e8cafe89e480dea
goto 32b257bfa17e4fb1931591aa892eac3e
label f60718910a864f079411d0d474fb5f5c
label 32b257bfa17e4fb1931591aa892eac3e
push constant 0
return
