function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto 63ef21c4a5394960951e45e144cf1e08
push constant 1
pop argument 0
goto 5ac6459b5be446188cf30edd2e803d20
label 63ef21c4a5394960951e45e144cf1e08
label 5ac6459b5be446188cf30edd2e803d20
push argument 0
call Array.new 1
pop this 2
push constant 0
pop this 0
push argument 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 0
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 0
lt
not
if-goto b56fee81645143bfbed6d161e7351c1e
push argument 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 9599f3fd3d55474387a56d3523c1036c
label b56fee81645143bfbed6d161e7351c1e
label 9599f3fd3d55474387a56d3523c1036c
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 0
push this 1
lt
not
if-goto 607fd4ad12a04e35b26baa48135f5bb1
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
goto 589e4e476d47473790b3fb9c1a6b647a
label 607fd4ad12a04e35b26baa48135f5bb1
label 589e4e476d47473790b3fb9c1a6b647a
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push constant 0
return
function String.intValue 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
not
if-goto a5655561773847cabafd891416fc1af7
push constant 1
neg
pop local 0
push constant 1
pop local 1
goto f55d4d21c7b94e70ab4ae8f249ecac12
label a5655561773847cabafd891416fc1af7
label f55d4d21c7b94e70ab4ae8f249ecac12
label 8497870c15bf4b4ba11612f61cba3bf4
push local 1
push this 0
lt
push local 4
not
and
not
if-goto bd23a37504404958982f57a1ad32c9c1
push pointer 0
push local 1
call String.charAt 2
pop local 3
push local 3
push constant 47
gt
push local 3
push constant 58
lt
and
not
if-goto fdfacb01aa754a4aa7d4853058e2bfff
push local 2
push constant 10
call Math.multiply 2
push local 3
push constant 48
sub
add
pop local 2
goto 44dfc9459cae4adb8067e7bfd82ad8b5
label fdfacb01aa754a4aa7d4853058e2bfff
push constant 1
neg
pop local 4
label 44dfc9459cae4adb8067e7bfd82ad8b5
push local 1
push constant 1
add
pop local 1
goto 8497870c15bf4b4ba11612f61cba3bf4
label bd23a37504404958982f57a1ad32c9c1
push local 2
push local 0
call Math.multiply 2
return
function String.setInt 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push argument 1
push constant 0
lt
not
if-goto 3e87b233237b448db661164bf87ef2aa
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
goto 907b99d5f3e34804929d9e4fa0e6e88f
label 3e87b233237b448db661164bf87ef2aa
label 907b99d5f3e34804929d9e4fa0e6e88f
push pointer 0
push argument 1
call Math.abs 1
call String.setIntRecursive 2
pop temp 0
push constant 0
return
function String.setIntRecursive 2
push argument 0
pop pointer 0
push argument 1
push argument 1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 0
push constant 48
add
pop local 1
push argument 1
push constant 10
lt
not
if-goto 8f75a82fa9eb47ea902b76078c764c2a
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
goto 7d2ed6245ece4951ba6611118304bfb6
label 8f75a82fa9eb47ea902b76078c764c2a
push pointer 0
push argument 1
push constant 10
call Math.divide 2
call String.setIntRecursive 2
pop temp 0
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
label 7d2ed6245ece4951ba6611118304bfb6
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
