function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push constant 0
eq
not
if-goto 8d999367dca34b01a28b668ebcd185ef
push constant 1
pop argument 0
goto 322e9c6ee2614e9aa55af6cc9f44ad24
label 8d999367dca34b01a28b668ebcd185ef
label 322e9c6ee2614e9aa55af6cc9f44ad24
push argument 0
call Array.new 1
pop this 2
push constant 0
pop this 0
push argument 0
pop this 1
push pointer 0
return
function String.dispose 0
push argument 0
pop pointer 0
push this 2
call Array.dispose 1
pop temp 0
push constant 0
return
function String.length 0
push argument 0
pop pointer 0
push this 0
return
function String.charAt 0
push argument 0
pop pointer 0
push argument 1
push this 2
add
pop pointer 1
push that 0
return
function String.setCharAt 0
push argument 0
pop pointer 0
push argument 1
push this 0
lt
not
if-goto 841bcb8df119449cb227304366ccc0e8
push argument 1
push this 2
add
push argument 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto d84512a4b133440d9179b7fae05b237f
label 841bcb8df119449cb227304366ccc0e8
label d84512a4b133440d9179b7fae05b237f
push constant 0
return
function String.appendChar 0
push argument 0
pop pointer 0
push this 0
push this 1
lt
not
if-goto 1a729522a5284bbbab742a43cc6f9df5
push this 0
push this 2
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 0
push constant 1
add
pop this 0
goto ad1c3c78f9004972aa14de2e4d29457a
label 1a729522a5284bbbab742a43cc6f9df5
label ad1c3c78f9004972aa14de2e4d29457a
push pointer 0
return
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 0
push constant 1
sub
pop this 0
push constant 0
return
function String.intValue 5
push argument 0
pop pointer 0
push constant 0
pop local 4
push constant 1
pop local 0
push constant 0
pop local 1
push constant 0
pop local 2
push pointer 0
push constant 0
call String.charAt 2
push constant 45
eq
not
if-goto d6298584a47741a088813b9eb8b5df4c
push constant 1
neg
pop local 0
push constant 1
pop local 1
goto dd5b95253e544405a3b0f5c592a67a68
label d6298584a47741a088813b9eb8b5df4c
label dd5b95253e544405a3b0f5c592a67a68
label 39248a7544e0474585edc790995dcde2
push local 1
push this 0
lt
push local 4
not
and
not
if-goto 273826a9f90648a8833fa21cd47511f2
push pointer 0
push local 1
call String.charAt 2
pop local 3
push local 3
push constant 47
gt
push local 3
push constant 58
lt
and
not
if-goto f803088c5dc6449cb7fe178647d6378e
push local 2
push constant 10
call Math.multiply 2
push local 3
push constant 48
sub
add
pop local 2
goto a9ce3386d86347d087a9d3780406c09e
label f803088c5dc6449cb7fe178647d6378e
push constant 1
neg
pop local 4
label a9ce3386d86347d087a9d3780406c09e
push local 1
push constant 1
add
pop local 1
goto 39248a7544e0474585edc790995dcde2
label 273826a9f90648a8833fa21cd47511f2
push local 2
push local 0
call Math.multiply 2
return
function String.setInt 0
push argument 0
pop pointer 0
push constant 0
pop this 0
push argument 1
push constant 0
lt
not
if-goto ed2c6651cf9a445996dd28d12efb1d39
push pointer 0
push constant 45
call String.appendChar 2
pop temp 0
goto 6795780095a7472784826384125894f2
label ed2c6651cf9a445996dd28d12efb1d39
label 6795780095a7472784826384125894f2
push pointer 0
push argument 1
call Math.abs 1
call String.setIntRecursive 2
pop temp 0
push constant 0
return
function String.setIntRecursive 2
push argument 0
pop pointer 0
push argument 1
push argument 1
push constant 10
call Math.divide 2
push constant 10
call Math.multiply 2
sub
pop local 0
push local 0
push constant 48
add
pop local 1
push argument 1
push constant 10
lt
not
if-goto 9ab12da831e940c1918b9e772a9c8f1a
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
goto 132750dcc3db4420a5d5e1b40c258552
label 9ab12da831e940c1918b9e772a9c8f1a
push pointer 0
push argument 1
push constant 10
call Math.divide 2
call String.setIntRecursive 2
pop temp 0
push pointer 0
push local 1
call String.appendChar 2
pop temp 0
label 132750dcc3db4420a5d5e1b40c258552
push constant 0
return
function String.newLine 0
push constant 128
return
function String.backSpace 0
push constant 129
return
function String.doubleQuote 0
push constant 34
return
