function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label a2f30011bd1147d789263a2bcd187f4b
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto 469a62cae0fd4020ab0bfd0c89daf7fb
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto a2f30011bd1147d789263a2bcd187f4b
label 469a62cae0fd4020ab0bfd0c89daf7fb
push local 0
push constant 0
eq
not
if-goto d661c8c3db924608ba23367e046e43b1
push constant 0
return
goto c4327f3d35714f33a63630bd1716fd0b
label d661c8c3db924608ba23367e046e43b1
label c4327f3d35714f33a63630bd1716fd0b
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label 4f47903e700349ab95591749b615d553
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto 2ea35cea51ad4a059d52e4e5ce1f49c2
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 4f47903e700349ab95591749b615d553
label 2ea35cea51ad4a059d52e4e5ce1f49c2
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
