function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label 6664a6608ae94bfcaafd7bf7662e565b
push local 0
push constant 16
lt
not
if-goto 53259cde5f484832921fbda53bed6d05
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 6664a6608ae94bfcaafd7bf7662e565b
label 53259cde5f484832921fbda53bed6d05
push constant 16
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 63
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 127
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 255
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 511
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 1023
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 2047
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 4095
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 8191
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 16383
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 2
add
push constant 32767
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 32767
push constant 1
add
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 16384
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 8192
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 4096
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 2048
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 1024
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 512
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 256
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 128
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 32
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 16
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 8
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 4
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16384
pop static 6
push constant 1
neg
pop static 4
push constant 0
pop static 5
push static 4
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 2
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
label 7b8919071e6f42279e08d487462acc76
push local 1
push local 0
lt
not
if-goto 5d747c0b04df41ba97eb2eb1ef14a20f
push local 1
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto 7b8919071e6f42279e08d487462acc76
label 5d747c0b04df41ba97eb2eb1ef14a20f
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 3
push constant 0
return
function Screen.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Screen.getWordAddress 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Screen.drawPixel 3
push argument 0
push argument 1
call Screen.getWordAddress 2
pop local 2
push local 2
push static 6
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 16
call Screen.mod 2
pop local 1
push static 3
push static 4
eq
not
if-goto d941452bbe1b44009f7ba62e27589838
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
or
pop local 0
goto 02c4c500857c40caac01e8c27a3a5e4f
label d941452bbe1b44009f7ba62e27589838
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
and
pop local 0
label 02c4c500857c40caac01e8c27a3a5e4f
push local 2
push static 6
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto ab4941c8a7b045198b9fb13944c4fe33
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto cdee3a70e9d54b8b86a8f675dc08089c
label ab4941c8a7b045198b9fb13944c4fe33
push argument 1
push argument 3
eq
not
if-goto cbdb1763eb3c492983e1e164327fd56f
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 0b94f0e2dec04df594850f0f46f7c4fd
label cbdb1763eb3c492983e1e164327fd56f
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto 4ca09d0b415d490385dc5e7fcefd43f1
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto 06ef4ad6a883416b831710804be8860e
label 4ca09d0b415d490385dc5e7fcefd43f1
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto 56bbed18f78f4e82ba2a22738fa7f7d6
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto 79235b23ddf44f0182dbed2b4447b10b
label 56bbed18f78f4e82ba2a22738fa7f7d6
label 79235b23ddf44f0182dbed2b4447b10b
label 06ef4ad6a883416b831710804be8860e
label 0b94f0e2dec04df594850f0f46f7c4fd
label cdee3a70e9d54b8b86a8f675dc08089c
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto fa3d3582c36442beb261b28eb12e4eb2
push argument 0
push argument 2
gt
return
goto 505da752f75b414eae0ec298711835d6
label fa3d3582c36442beb261b28eb12e4eb2
push argument 2
push argument 0
gt
return
label 505da752f75b414eae0ec298711835d6
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto 0bbdf98f1d7c4ffead76cc62b17ac4f8
push argument 2
push argument 0
gt
return
goto 9b6ba5a59369415ba8c3d626db196c3e
label 0bbdf98f1d7c4ffead76cc62b17ac4f8
push argument 0
push argument 2
gt
return
label 9b6ba5a59369415ba8c3d626db196c3e
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 2f730389d8fa4e9c869a7d3f65eda750
push argument 1
pop local 6
push argument 0
pop local 5
goto 78d4418b5a0f445e99e4d9ba61feda5e
label 2f730389d8fa4e9c869a7d3f65eda750
push argument 3
pop local 6
push argument 2
pop local 5
label 78d4418b5a0f445e99e4d9ba61feda5e
label 0dc4731ac2b64b2190789c3b216b9b58
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto ee6fec33ee0e4a049782cffdaf054d82
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto c1cd2c7efd2a4932bae0a480cb9b493a
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 8a05aa25e77e4c3686fc31d489078525
label c1cd2c7efd2a4932bae0a480cb9b493a
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 8a05aa25e77e4c3686fc31d489078525
goto 0dc4731ac2b64b2190789c3b216b9b58
label ee6fec33ee0e4a049782cffdaf054d82
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 5272296d12df491ea46b361e419c809d
push argument 1
pop local 6
push argument 0
pop local 5
goto 86351da4274a41308c29ef8652e7453b
label 5272296d12df491ea46b361e419c809d
push argument 3
pop local 6
push argument 2
pop local 5
label 86351da4274a41308c29ef8652e7453b
label a71bbf722d904da68b50ec167af9171c
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 7e9b3646599645eb8c6d5f568a50ccf2
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 6059198c50d440bfb3ba2918a7cdf008
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto b5cda32ef80d4a61a20db79b2f847b35
label 6059198c50d440bfb3ba2918a7cdf008
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label b5cda32ef80d4a61a20db79b2f847b35
goto a71bbf722d904da68b50ec167af9171c
label 7e9b3646599645eb8c6d5f568a50ccf2
push constant 0
return
function Screen.drawHorizontalLine 4
push argument 0
push argument 1
call Math.max 2
pop local 2
push argument 0
push argument 1
call Math.min 2
pop local 3
push local 3
pop argument 0
push local 2
pop argument 1
push argument 0
push argument 2
call Screen.getWordAddress 2
pop local 0
push argument 1
push argument 2
call Screen.getWordAddress 2
pop local 1
push argument 0
push constant 16
call Screen.mod 2
push argument 1
push constant 16
call Screen.mod 2
push local 0
push local 1
push constant 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawHorizontalLineEfficient 1
label 9163a8f39da44f26b4908a0d66a19c3e
push argument 4
push constant 0
gt
not
if-goto 3ae94a2ef1d34dc68455352afaf4c8fc
push argument 2
push argument 3
eq
not
if-goto 9b8c04241b5b42189c665fd216f86015
push static 3
push static 4
eq
not
if-goto 8bd4dd066eae4d7db953a356204e8629
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto cd59771f5f4242299403c60599c419c3
label 8bd4dd066eae4d7db953a356204e8629
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label cd59771f5f4242299403c60599c419c3
goto dc704df03f6a4f80abc1cc31a3eaf2e1
label 9b8c04241b5b42189c665fd216f86015
push argument 2
pop local 0
push static 3
push static 4
eq
not
if-goto c9e3f205e63941b1be65aa1e12054bc8
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 3ac70c4041de4eb4b52f0ce0f25a001e
push local 0
push argument 3
lt
not
if-goto 551e045068644869af043ac452b0673e
push local 0
push static 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 3ac70c4041de4eb4b52f0ce0f25a001e
label 551e045068644869af043ac452b0673e
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 8e11c5cd257246928b34dbafcd1eea6e
label c9e3f205e63941b1be65aa1e12054bc8
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label fa9b9f6ff29143559abaaa133876d5f9
push local 0
push argument 3
lt
not
if-goto 1a3320a6204747c6bb79724021042235
push local 0
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto fa9b9f6ff29143559abaaa133876d5f9
label 1a3320a6204747c6bb79724021042235
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 8e11c5cd257246928b34dbafcd1eea6e
label dc704df03f6a4f80abc1cc31a3eaf2e1
push argument 2
push constant 32
add
pop argument 2
push argument 3
push constant 32
add
pop argument 3
push argument 4
push constant 1
sub
pop argument 4
goto 9163a8f39da44f26b4908a0d66a19c3e
label 3ae94a2ef1d34dc68455352afaf4c8fc
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label ac6dd7a2bdcc41e7879aef447ef9c1f6
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 1a523affca3642f8bb1fb1f7f502e942
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto ac6dd7a2bdcc41e7879aef447ef9c1f6
label 1a523affca3642f8bb1fb1f7f502e942
push constant 0
return
function Screen.drawRectangle 6
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
push constant 1
add
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
push local 2
push local 3
call Screen.getWordAddress 2
pop local 4
push local 2
push local 0
add
push local 3
call Screen.getWordAddress 2
pop local 5
push local 2
push constant 16
call Screen.mod 2
push local 2
push local 0
add
push constant 16
call Screen.mod 2
push local 4
push local 5
push local 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto 7f165097dcbf482891effc1fb4fe9962
label 579bed7567dd4ac1bb2e8cfe95983124
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto 3105cf2c569348bd960e74d50a2a42cf
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 579bed7567dd4ac1bb2e8cfe95983124
label 3105cf2c569348bd960e74d50a2a42cf
goto 877f9e55ee5d4190a7be44bb50131c15
label 7f165097dcbf482891effc1fb4fe9962
label 877f9e55ee5d4190a7be44bb50131c15
push constant 0
return
