function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label ae8b5ab768824e6b953ffeffa42e358c
push constant 1
neg
not
if-goto 73b47dcb73164c8d8ed950183799182b
goto ae8b5ab768824e6b953ffeffa42e358c
label 73b47dcb73164c8d8ed950183799182b
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
label 8fa66fb4d17048f0926ca3ff0261e260
push local 0
push argument 0
lt
not
if-goto 92b939bee25e456a9f549c7c602385a4
push constant 0
pop local 1
label 3bbd8910f3544a389533e8a6a785396b
push local 1
push constant 200
lt
not
if-goto 77ab0b951d26424fb3945938f2748ea0
push local 1
push constant 1
add
pop local 1
goto 3bbd8910f3544a389533e8a6a785396b
label 77ab0b951d26424fb3945938f2748ea0
push local 0
push constant 1
add
pop local 0
goto 8fa66fb4d17048f0926ca3ff0261e260
label 92b939bee25e456a9f549c7c602385a4
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
