function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label 6340ea30d70c4df8a335e4d64c690be9
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto c45802b1ac164b8db533bd95e6eda379
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 6340ea30d70c4df8a335e4d64c690be9
label c45802b1ac164b8db533bd95e6eda379
push local 0
push constant 0
eq
not
if-goto 55ed21f6c63c41e3949180c996d9fa31
push constant 0
return
goto 6844c63aaf804481901640688f986954
label 55ed21f6c63c41e3949180c996d9fa31
label 6844c63aaf804481901640688f986954
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label 46e5034f56f94f77b2d4e8e51f8dba6e
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto ceb06318bcfe40329c883bd334702110
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 46e5034f56f94f77b2d4e8e51f8dba6e
label ceb06318bcfe40329c883bd334702110
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
