function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label d3624d4155564bb39bf86ffa67fc2903
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto 36d7f8b21d48474b85584cc3bcbd2d6d
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto d3624d4155564bb39bf86ffa67fc2903
label 36d7f8b21d48474b85584cc3bcbd2d6d
push local 0
push constant 0
eq
not
if-goto 58e93ee24a3d44f1848a9081450fc036
push constant 0
return
goto d5c300b795b14d2695f616ddadb177a4
label 58e93ee24a3d44f1848a9081450fc036
label d5c300b795b14d2695f616ddadb177a4
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label 5f8ccdb6c33c4a0abc58e523ea7ed01d
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto ee4276feb4d041899f81d7858d32910b
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 5f8ccdb6c33c4a0abc58e523ea7ed01d
label ee4276feb4d041899f81d7858d32910b
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
