function Sys.init 0
call Memory.init 0
pop temp 0
call Math.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Output.init 0
pop temp 0
call Keyboard.init 0
pop temp 0
call Main.main 0
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
function Sys.halt 0
label fba86650d875405393c5a583c9a1f994
push constant 1
neg
not
if-goto 913156af41eb4886870c8723956f17b6
goto fba86650d875405393c5a583c9a1f994
label 913156af41eb4886870c8723956f17b6
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
label f914c84edb284f4585bb051711be28ce
push local 0
push argument 0
lt
not
if-goto 7b1277e6119f42a2ada0c7f0733276ff
push constant 0
pop local 1
label 332349f3c99142c5ab9c49bc7ed88689
push local 1
push constant 200
lt
not
if-goto d855b734900144d99326d170f62515c3
push local 1
push constant 1
add
pop local 1
goto 332349f3c99142c5ab9c49bc7ed88689
label d855b734900144d99326d170f62515c3
push local 0
push constant 1
add
pop local 0
goto f914c84edb284f4585bb051711be28ce
label 7b1277e6119f42a2ada0c7f0733276ff
push constant 0
return
function Sys.error 0
push constant 3
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
call Sys.halt 0
pop temp 0
