function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label a529c11dcd2e4e4296d204a2235dc49c
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto 12fc627a593146788fd0ee1f2a0e6df9
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto a529c11dcd2e4e4296d204a2235dc49c
label 12fc627a593146788fd0ee1f2a0e6df9
push local 0
push constant 0
eq
not
if-goto bfb0ed8be77b4e21ac76975c40feca17
push constant 0
return
goto 9e80b55e9fea465fb28b557fbb5902de
label bfb0ed8be77b4e21ac76975c40feca17
label 9e80b55e9fea465fb28b557fbb5902de
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label 308f80a5f97346aa957ae20980239ed7
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto d6d2cd306134436286f34f0dcae6c1fa
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 308f80a5f97346aa957ae20980239ed7
label d6d2cd306134436286f34f0dcae6c1fa
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
