function Memory.init 0
push constant 2
pop static 2
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 0
push static 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 3
push static 1
pop local 0
push argument 0
push static 2
add
pop local 1
label 858830e4e322484b84a341aa9db841e3
push local 0
push constant 0
eq
not
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
lt
and
not
if-goto 09d9c41a49ef4d818795f0bd2e93dfe0
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto 858830e4e322484b84a341aa9db841e3
label 09d9c41a49ef4d818795f0bd2e93dfe0
push local 0
push constant 0
eq
not
if-goto 470589822b084e9aa244797f8e64f78a
push constant 0
return
goto 50b9f105a5544cef9d8d87b26710b48d
label 470589822b084e9aa244797f8e64f78a
label 50b9f105a5544cef9d8d87b26710b48d
push local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
add
push static 2
add
push local 1
sub
pop local 2
push constant 1
push local 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push local 1
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push static 2
add
return
function Memory.deAlloc 2
push argument 0
push static 2
sub
pop local 1
push static 1
pop local 0
label ff047e2ac4bc4cf18edb25376e2a29af
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto 905bb128f6e24062a03ad1e6e9b37240
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto ff047e2ac4bc4cf18edb25376e2a29af
label 905bb128f6e24062a03ad1e6e9b37240
push constant 0
push local 0
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
