function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label e2240c30593248eb81363f3f0c72d8c9
push local 0
push constant 16
lt
not
if-goto 7d6c6282c2d644aaba86fef4507eb309
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto e2240c30593248eb81363f3f0c72d8c9
label 7d6c6282c2d644aaba86fef4507eb309
push constant 16
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 63
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 127
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 255
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 511
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 1023
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 2047
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 4095
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 8191
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 16383
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 2
add
push constant 32767
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 32767
push constant 1
add
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 16384
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 8192
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 4096
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 2048
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 1024
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 512
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 256
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 128
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 32
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 16
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 8
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 4
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16384
pop static 6
push constant 1
neg
pop static 4
push constant 0
pop static 5
push static 4
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 2
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
label c907a6bda99c4f5ca0fe2a070b2d0882
push local 1
push local 0
lt
not
if-goto 60b39fdbe1b7407ea714e37311676a5d
push local 1
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto c907a6bda99c4f5ca0fe2a070b2d0882
label 60b39fdbe1b7407ea714e37311676a5d
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 3
push constant 0
return
function Screen.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Screen.getWordAddress 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Screen.drawPixel 3
push argument 0
push argument 1
call Screen.getWordAddress 2
pop local 2
push local 2
push static 6
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 16
call Screen.mod 2
pop local 1
push static 3
push static 4
eq
not
if-goto b50eebffb42a43e5a9c7b7c311bb4845
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
or
pop local 0
goto 5dd30083846d4fcfbef16b07e1a533b6
label b50eebffb42a43e5a9c7b7c311bb4845
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
and
pop local 0
label 5dd30083846d4fcfbef16b07e1a533b6
push local 2
push static 6
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto e6f9e7c60f2f47dea10bbf3cc332f428
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto 4e0a8a2066d54abe88e07036fa445ca5
label e6f9e7c60f2f47dea10bbf3cc332f428
push argument 1
push argument 3
eq
not
if-goto eb585a274a1a4783a4d82e5a200d7e85
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto b5c111395b6e4bb69b4e9f790ab00fbd
label eb585a274a1a4783a4d82e5a200d7e85
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto 3523bc90df1a4a61804788ce9a044367
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto d245b97a3c90454abf9680357601453b
label 3523bc90df1a4a61804788ce9a044367
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto 1e8d363271ab4ff7a27603af1e6ec37b
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto b8e9277aa978420d923a81e4a77d93e6
label 1e8d363271ab4ff7a27603af1e6ec37b
label b8e9277aa978420d923a81e4a77d93e6
label d245b97a3c90454abf9680357601453b
label b5c111395b6e4bb69b4e9f790ab00fbd
label 4e0a8a2066d54abe88e07036fa445ca5
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto c183b25b48b047cba9a1fdfd18beba85
push argument 0
push argument 2
gt
return
goto 1dbc205865b64ab1888288566d6e1c1c
label c183b25b48b047cba9a1fdfd18beba85
push argument 2
push argument 0
gt
return
label 1dbc205865b64ab1888288566d6e1c1c
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto ca08a5a3d121411b8a4e0c18bcc76fd0
push argument 2
push argument 0
gt
return
goto d58d86f9526447088bc8c5adb73c5673
label ca08a5a3d121411b8a4e0c18bcc76fd0
push argument 0
push argument 2
gt
return
label d58d86f9526447088bc8c5adb73c5673
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 41eb9923933a42b9870db84bf605d78e
push argument 1
pop local 6
push argument 0
pop local 5
goto cd595685c92b4213ae731a244dfd816d
label 41eb9923933a42b9870db84bf605d78e
push argument 3
pop local 6
push argument 2
pop local 5
label cd595685c92b4213ae731a244dfd816d
label cd214d4c747c4fa7ba9b273ba2ccee4d
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 8a0b8f66c9d54a80be42191d0e086a0d
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto ca2c2f8cf7b845fa921a4c993aaca9a7
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto b6dd833f7fdf472ab1921101ababd2fb
label ca2c2f8cf7b845fa921a4c993aaca9a7
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label b6dd833f7fdf472ab1921101ababd2fb
goto cd214d4c747c4fa7ba9b273ba2ccee4d
label 8a0b8f66c9d54a80be42191d0e086a0d
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 73dece48c2c54093ac632fd5331d89c6
push argument 1
pop local 6
push argument 0
pop local 5
goto 3f01a439f8164806b211a6fd7176f4ad
label 73dece48c2c54093ac632fd5331d89c6
push argument 3
pop local 6
push argument 2
pop local 5
label 3f01a439f8164806b211a6fd7176f4ad
label 058592f92a374182bfedbf5571700f7c
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 220a821689a645c482dd7b4657d75897
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto cb86312a47ea40579518501d6c39c4ac
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 27eb20848baa428fb0e1ed56b7b7a5e6
label cb86312a47ea40579518501d6c39c4ac
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 27eb20848baa428fb0e1ed56b7b7a5e6
goto 058592f92a374182bfedbf5571700f7c
label 220a821689a645c482dd7b4657d75897
push constant 0
return
function Screen.drawHorizontalLine 4
push argument 0
push argument 1
call Math.max 2
pop local 2
push argument 0
push argument 1
call Math.min 2
pop local 3
push local 3
pop argument 0
push local 2
pop argument 1
push argument 0
push argument 2
call Screen.getWordAddress 2
pop local 0
push argument 1
push argument 2
call Screen.getWordAddress 2
pop local 1
push argument 0
push constant 16
call Screen.mod 2
push argument 1
push constant 16
call Screen.mod 2
push local 0
push local 1
push constant 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawHorizontalLineEfficient 1
label 2b37b1123ae44ff694297797338f2499
push argument 4
push constant 0
gt
not
if-goto 3c41661eb1e047dd9df9d24b6737f960
push argument 2
push argument 3
eq
not
if-goto 99646008b1214c7eb8ed6c08554995de
push static 3
push static 4
eq
not
if-goto 285bd897713a424884ee922ff7155ed4
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 9c3ad2238c194bdcb03b71e921cb109e
label 285bd897713a424884ee922ff7155ed4
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 9c3ad2238c194bdcb03b71e921cb109e
goto f4e1eddb12a24d4ab4a023965627dff3
label 99646008b1214c7eb8ed6c08554995de
push argument 2
pop local 0
push static 3
push static 4
eq
not
if-goto 8f3f38de6196457b95afefb9fd9fb6db
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 5cf8e8dae7234e83a7121b111741e5bf
push local 0
push argument 3
lt
not
if-goto 33471b98bb6944b68f9cb4db30379fc0
push local 0
push static 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 5cf8e8dae7234e83a7121b111741e5bf
label 33471b98bb6944b68f9cb4db30379fc0
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 7b89ceb0940d4c9583da69d948fb16f6
label 8f3f38de6196457b95afefb9fd9fb6db
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label 90811eb55e494eac9151ff77cb4b189e
push local 0
push argument 3
lt
not
if-goto aa875c6de76b4416a6ca823d1bacddbe
push local 0
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto 90811eb55e494eac9151ff77cb4b189e
label aa875c6de76b4416a6ca823d1bacddbe
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 7b89ceb0940d4c9583da69d948fb16f6
label f4e1eddb12a24d4ab4a023965627dff3
push argument 2
push constant 32
add
pop argument 2
push argument 3
push constant 32
add
pop argument 3
push argument 4
push constant 1
sub
pop argument 4
goto 2b37b1123ae44ff694297797338f2499
label 3c41661eb1e047dd9df9d24b6737f960
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label 8b9394a1aace473ca1d42a3336b01200
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto b37b99e90f93465186e4ef1e932fef63
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 8b9394a1aace473ca1d42a3336b01200
label b37b99e90f93465186e4ef1e932fef63
push constant 0
return
function Screen.drawRectangle 6
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
push constant 1
add
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
push local 2
push local 3
call Screen.getWordAddress 2
pop local 4
push local 2
push local 0
add
push local 3
call Screen.getWordAddress 2
pop local 5
push local 2
push constant 16
call Screen.mod 2
push local 2
push local 0
add
push constant 16
call Screen.mod 2
push local 4
push local 5
push local 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto 71ecb5b86fc649e79c5e705e8d524e98
label a5a92af8183a4e6584b6cecb57c30c3f
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto 9b12b251650d431f8e09631bd6b9f038
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto a5a92af8183a4e6584b6cecb57c30c3f
label 9b12b251650d431f8e09631bd6b9f038
goto 21f46b45b2e74ece831dcd7064783b78
label 71ecb5b86fc649e79c5e705e8d524e98
label 21f46b45b2e74ece831dcd7064783b78
push constant 0
return
