function Screen.init 1
push constant 16
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label ccb52e5f66bf45eba8738548ec0f52ce
push local 0
push constant 16
lt
not
if-goto b9bc8c359b1b40dd84953f2d282d4bc7
push local 0
push static 0
add
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
push local 0
push constant 1
sub
push static 0
add
pop pointer 1
push that 0
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto ccb52e5f66bf45eba8738548ec0f52ce
label b9bc8c359b1b40dd84953f2d282d4bc7
push constant 16
call Array.new 1
pop static 2
push constant 0
push static 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 2
add
push constant 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 2
add
push constant 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 2
add
push constant 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 2
add
push constant 63
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 2
add
push constant 127
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 2
add
push constant 255
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 2
add
push constant 511
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 2
add
push constant 1023
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 2
add
push constant 2047
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 2
add
push constant 4095
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 2
add
push constant 8191
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 2
add
push constant 16383
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 2
add
push constant 32767
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 2
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16
call Array.new 1
pop static 1
push constant 0
push static 1
add
push constant 32767
push constant 1
add
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 1
add
push constant 16384
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 1
add
push constant 8192
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 1
add
push constant 4096
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 1
add
push constant 2048
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 1
add
push constant 1024
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 1
add
push constant 512
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 1
add
push constant 256
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 1
add
push constant 128
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 1
add
push constant 64
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 1
add
push constant 32
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 1
add
push constant 16
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 1
add
push constant 8
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 1
add
push constant 4
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 1
add
push constant 2
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push static 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 16384
pop static 6
push constant 1
neg
pop static 4
push constant 0
pop static 5
push static 4
call Screen.setColor 1
pop temp 0
push constant 0
return
function Screen.clearScreen 2
push constant 8
push constant 1024
call Math.multiply 2
pop local 0
label 223a40217c8e470f9aff5529b477bf29
push local 1
push local 0
lt
not
if-goto 40ff18c9406a465fa337b22b8b564667
push local 1
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto 223a40217c8e470f9aff5529b477bf29
label 40ff18c9406a465fa337b22b8b564667
push constant 0
return
function Screen.setColor 0
push argument 0
pop static 3
push constant 0
return
function Screen.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Screen.getWordAddress 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
return
function Screen.drawPixel 3
push argument 0
push argument 1
call Screen.getWordAddress 2
pop local 2
push local 2
push static 6
add
pop pointer 1
push that 0
pop local 0
push argument 0
push constant 16
call Screen.mod 2
pop local 1
push static 3
push static 4
eq
not
if-goto c37b626d482245a8a1f064eec7a9329f
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
or
pop local 0
goto 8f3f2934c3f7440290f1d8294dace255
label c37b626d482245a8a1f064eec7a9329f
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
not
and
pop local 0
label 8f3f2934c3f7440290f1d8294dace255
push local 2
push static 6
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Screen.drawLine 0
push argument 0
push argument 2
eq
not
if-goto ad1fd115d6eb474fb7a5cadc0fd92142
push argument 1
push argument 3
push argument 0
call Screen.drawVerticalLine 3
pop temp 0
goto 322e98777cf04211ad688522f804a718
label ad1fd115d6eb474fb7a5cadc0fd92142
push argument 1
push argument 3
eq
not
if-goto e6b3a0c09ee34db9873e89ca75c04254
push argument 0
push argument 2
push argument 1
call Screen.drawHorizontalLine 3
pop temp 0
goto 0e0297fb5dc4441cb31960c3fa753724
label e6b3a0c09ee34db9873e89ca75c04254
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isAscendingLine 4
not
if-goto 2c85c59db0c042928ad30408c2ce1683
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawAscendingLine 4
pop temp 0
goto cca266a497644485b94a9d01768f7184
label 2c85c59db0c042928ad30408c2ce1683
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.isDescendingLine 4
not
if-goto aebdba7f444343c29d3d7870abdbadaf
push argument 0
push argument 1
push argument 2
push argument 3
call Screen.drawDescendingLine 4
pop temp 0
goto f480b09692f34a65b369da5dffe3d08e
label aebdba7f444343c29d3d7870abdbadaf
label f480b09692f34a65b369da5dffe3d08e
label cca266a497644485b94a9d01768f7184
label 0e0297fb5dc4441cb31960c3fa753724
label 322e98777cf04211ad688522f804a718
push constant 0
return
function Screen.isAscendingLine 0
push argument 1
push argument 3
lt
not
if-goto 452993bc7c3445f0a656b50e2efa0dda
push argument 0
push argument 2
gt
return
goto 7bc5c5ab70354d389957b9398ecc68c7
label 452993bc7c3445f0a656b50e2efa0dda
push argument 2
push argument 0
gt
return
label 7bc5c5ab70354d389957b9398ecc68c7
function Screen.isDescendingLine 0
push argument 1
push argument 3
lt
not
if-goto 298391bdc1da4f8db6bd27ad5c892244
push argument 2
push argument 0
gt
return
goto aa97749d60bf407fa7a37c9c3b0293e9
label 298391bdc1da4f8db6bd27ad5c892244
push argument 0
push argument 2
gt
return
label aa97749d60bf407fa7a37c9c3b0293e9
function Screen.drawDescendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
lt
not
if-goto 19fa90483f9a469ba18bb9b49ea4d48a
push argument 1
pop local 6
push argument 0
pop local 5
goto 5b3353388d3a410a8655d20cc7ee12de
label 19fa90483f9a469ba18bb9b49ea4d48a
push argument 3
pop local 6
push argument 2
pop local 5
label 5b3353388d3a410a8655d20cc7ee12de
label 7255bf6383f3430cbe9807ec279585b8
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto 4dac5b825ead459cb0fbbf1fa7261670
push local 5
push local 2
add
push local 6
push local 3
add
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 670abfaa52404907a00b8ea0ba1a69c1
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto ad55d12e7a574d0b9e0d781045be5c1b
label 670abfaa52404907a00b8ea0ba1a69c1
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label ad55d12e7a574d0b9e0d781045be5c1b
goto 7255bf6383f3430cbe9807ec279585b8
label 4dac5b825ead459cb0fbbf1fa7261670
push constant 0
return
function Screen.drawAscendingLine 7
push argument 2
push argument 0
sub
call Math.abs 1
pop local 0
push argument 3
push argument 1
sub
call Math.abs 1
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
push constant 0
pop local 4
push argument 1
push argument 3
gt
not
if-goto 3605ecedda254fc8877310162678f30a
push argument 1
pop local 6
push argument 0
pop local 5
goto ccd5e47d697141638d57facf78388baf
label 3605ecedda254fc8877310162678f30a
push argument 3
pop local 6
push argument 2
pop local 5
label ccd5e47d697141638d57facf78388baf
label cc0df8042a1a40a1bf5694c84e4a5cd9
push local 2
push local 0
lt
push local 2
push local 0
eq
or
push local 3
push local 1
lt
push local 3
push local 1
eq
or
and
not
if-goto f10109b337b145f8bc2a4cb0e7988323
push local 5
push local 2
add
push local 6
push local 3
sub
call Screen.drawPixel 2
pop temp 0
push local 4
push constant 0
lt
not
if-goto 8b6101b2f3194afd919210e62a68ae78
push local 2
push constant 1
add
pop local 2
push local 4
push local 1
add
pop local 4
goto 1f5105e247e740f2af2e15dd839106bf
label 8b6101b2f3194afd919210e62a68ae78
push local 3
push constant 1
add
pop local 3
push local 4
push local 0
sub
pop local 4
label 1f5105e247e740f2af2e15dd839106bf
goto cc0df8042a1a40a1bf5694c84e4a5cd9
label f10109b337b145f8bc2a4cb0e7988323
push constant 0
return
function Screen.drawHorizontalLine 4
push argument 0
push argument 1
call Math.max 2
pop local 2
push argument 0
push argument 1
call Math.min 2
pop local 3
push local 3
pop argument 0
push local 2
pop argument 1
push argument 0
push argument 2
call Screen.getWordAddress 2
pop local 0
push argument 1
push argument 2
call Screen.getWordAddress 2
pop local 1
push argument 0
push constant 16
call Screen.mod 2
push argument 1
push constant 16
call Screen.mod 2
push local 0
push local 1
push constant 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawHorizontalLineEfficient 1
label a9a81e01815e49ac8d19e79ef408fac2
push argument 4
push constant 0
gt
not
if-goto 9bbfeab1c4164aeea5a756d3909ffb32
push argument 2
push argument 3
eq
not
if-goto 815f7b3866244ebaa5077bb1f4e783ab
push static 3
push static 4
eq
not
if-goto 43b0859734ed47bc8541a0ace03de7b0
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 14b8ed14e8c54ffa972a6bf7064c6571
label 43b0859734ed47bc8541a0ace03de7b0
push argument 2
push static 6
add
push argument 2
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
and
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 14b8ed14e8c54ffa972a6bf7064c6571
goto 83033b4208fa4df5abcf3cdad91b4c2b
label 815f7b3866244ebaa5077bb1f4e783ab
push argument 2
pop local 0
push static 3
push static 4
eq
not
if-goto f3abe217c2094eaa8c88bdc8a5713f33
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label b2a78e8ebdb843feacb156dc444df5dd
push local 0
push argument 3
lt
not
if-goto b8330ba78a15412bababb1972048ad05
push local 0
push static 6
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto b2a78e8ebdb843feacb156dc444df5dd
label b8330ba78a15412bababb1972048ad05
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
or
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto 47f942f6c03045ed91ac2c4546628245
label f3abe217c2094eaa8c88bdc8a5713f33
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push constant 15
push argument 0
sub
push static 1
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label f81f282b3fff4d46ace9baedbb18c38d
push local 0
push argument 3
lt
not
if-goto 6d1c99bc9fdf4e46a155efa4bd65e877
push local 0
push static 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto f81f282b3fff4d46ace9baedbb18c38d
label 6d1c99bc9fdf4e46a155efa4bd65e877
push local 0
push static 6
add
push local 0
push static 6
add
pop pointer 1
push that 0
push argument 1
push static 2
add
pop pointer 1
push that 0
not
and
pop temp 0
pop pointer 1
push temp 0
pop that 0
label 47f942f6c03045ed91ac2c4546628245
label 83033b4208fa4df5abcf3cdad91b4c2b
push argument 2
push constant 32
add
pop argument 2
push argument 3
push constant 32
add
pop argument 3
push argument 4
push constant 1
sub
pop argument 4
goto a9a81e01815e49ac8d19e79ef408fac2
label 9bbfeab1c4164aeea5a756d3909ffb32
push constant 0
return
function Screen.drawVerticalLine 2
push argument 0
push argument 1
call Math.min 2
pop local 0
push argument 0
push argument 1
call Math.max 2
pop local 1
label 853a457c39784a76996d95940c9ace37
push local 0
push local 1
lt
push local 0
push local 1
eq
or
not
if-goto 7fb07b7cc08345198b67b681452f6b65
push argument 2
push local 0
call Screen.drawPixel 2
pop temp 0
push local 0
push constant 1
add
pop local 0
goto 853a457c39784a76996d95940c9ace37
label 7fb07b7cc08345198b67b681452f6b65
push constant 0
return
function Screen.drawRectangle 6
push argument 0
push argument 2
sub
call Math.abs 1
pop local 0
push argument 1
push argument 3
sub
call Math.abs 1
push constant 1
add
pop local 1
push argument 0
push argument 2
call Math.min 2
pop local 2
push argument 1
push argument 3
call Math.min 2
pop local 3
push local 2
push local 3
call Screen.getWordAddress 2
pop local 4
push local 2
push local 0
add
push local 3
call Screen.getWordAddress 2
pop local 5
push local 2
push constant 16
call Screen.mod 2
push local 2
push local 0
add
push constant 16
call Screen.mod 2
push local 4
push local 5
push local 1
call Screen.drawHorizontalLineEfficient 5
pop temp 0
push constant 0
return
function Screen.drawCircle 2
push argument 2
neg
pop local 0
push argument 2
push constant 181
lt
push argument 2
push constant 181
eq
or
not
if-goto ed73751033d94950865fdfceea6010da
label e44df6e6e655429aaa499cb64e7f9d03
push local 0
push argument 2
lt
push local 0
push argument 2
eq
or
not
if-goto 9c7bf96155d34bd383988da0bff77cc1
push argument 2
push argument 2
call Math.multiply 2
push local 0
push local 0
call Math.multiply 2
sub
call Math.sqrt 1
pop local 1
push argument 0
push local 1
sub
push argument 0
push local 1
add
push argument 1
push local 0
add
call Screen.drawHorizontalLine 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto e44df6e6e655429aaa499cb64e7f9d03
label 9c7bf96155d34bd383988da0bff77cc1
goto 5ad0f710911a477790cb31f7070bacdc
label ed73751033d94950865fdfceea6010da
label 5ad0f710911a477790cb31f7070bacdc
push constant 0
return
